body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 20px;
}

#roomDetails {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
    z-index: 0; /* 다른 요소보다 레이어가 낮음 */
}

h1 {
    color: #333;
}

strong {
    color: #0066cc;
}

span {
    color: #555;
}

#appliedOptionsButtons {
    margin-top: 20px;
}

#map {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(100% - 2px); /* 테두리 때문에 2px를 뺀 전체 너비를 사용 */
    height: calc(100% - 2rem); /* 테두리 때문에 2rem을 뺀 전체 높이를 사용 */
    margin-bottom: 3rem; /* footer 높이 만큼 여백 추가 */
    z-index: 0; /* 다른 요소보다 레이어가 낮음 */
}

/* 버튼 스타일 */
.button-common {
    display: inline-block;
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.applied-option-button {
    /* 여기에 적절한 스타일 추가 */
    /* 예를 들어 배경색, 패딩, 테두리, 텍스트 스타일 등을 지정할 수 있습니다 */
    background-color: lightblue;
    padding: 8px 12px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button {
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #4b4f56;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

/* 마우스 호버 시 스타일 */
button:hover {
    background-color: #f1f3f4;
}




#btn_timeUnits button {
    width: 110px;
    height: 40px;
    padding: 8px;
    margin: 4px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #ffffff;
    color: #4b4f56;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

/* 마우스 호버 시 스타일 */
#btn_timeUnits button:hover {
    background-color: #f5c62e;
}

/* 선택된 버튼 스타일 */
#btn_timeUnits button.selected {
    background-color: #ffa500; /* 주황색 */
    color: white;
}

#btn_timeUnits button.reserved {
    background-color: rgba(47, 47, 47, 0.2); /* 예약된 시간 버튼 색 */
}

#btn_timeUnits button.reserved:hover {
    background-color: rgba(47, 47, 47, 0.2);
}










/* 날짜 선택기 스타일 */
.ui-datepicker {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    width: 100%; /* Full width */
}

.ui-datepicker-header {
    background-color: #ffa500; /* 오렌지 헤더 */
    border-radius: 8px 8px 0 0;
}

.ui-datepicker-title {
    color: white; /* 월과 년도 텍스트 색상 */
}

.ui-datepicker-calendar {
    border-radius: 0 0 8px 8px;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
    border-radius: 8px;
}

.ui-state-default {
    background-color: white; /* 날짜 배경 */
    border: 1px solid #ccc;
}

.ui-state-default:hover {
    background-color: #ffa500; /* 호버 색상 */
    border: 1px solid #ccc;
    color: white;
}

/* 선택된 날짜 스타일 */
#selectedDate {
    background-color: #ffa500; /* 오렌지 배경 */
    color: white; /* 흰색 텍스트 */
    border-radius: 8px;
    width: 200px;
    padding: 8px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
}






/* 크롬 스타일의 input 창 */

.chrome-style-input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.chrome-style-input:focus {
    border-color: dodgerblue;
}


/* CSS 파일에 아래 내용 추가 혹은 수정 */
#btn_addReservation {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

#btn_addReservation:hover {
    background-color: darkorange;
}


#btn_reservation {
    display: inline-block;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    background-color: #ff9100;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#btn_reservation:hover {
    background-color: #ff6a00; /* 호버 시 배경색 변경 */
}


/* roomDetails를 왼쪽에 배치 */
#roomDetails {
    float: left; /* 왼쪽으로 배치 */
    width: 60%; /* 적절한 너비 설정 */
}

/* reservation-container를 오른쪽에 배치 */
.reservation-container {
    float: right;
    width: 40%;
}

#reservation_form {
    width: calc(100% - 40px); /* Adjusted to match .main padding and margin */
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 20px;
}

#reservation_people {

}