body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 75rem;
    margin: 2rem auto;
    padding: 1.25rem;
}

#roomDetails {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25rem;
    z-index: 0;
}

h1 {
    color: #333;
}

strong {
    color: #0066cc;
}

span {
    color: #555;
}

#appliedOptionsButtons {
    margin-top: 1.25rem;
}

#map {
    margin-top: 1.25rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    width: calc(100% - 0.125rem);
    height: calc(100% - 2rem);
    margin-bottom: 3rem;
    z-index: 0;
}

/* 버튼 스타일 */
.button-common {
    display: inline-block;
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.applied-option-button {
    background-color: lightblue;
    padding: 8px 12px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button {
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #4b4f56;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

/* 마우스 호버 시 스타일 */
button:hover {
    background-color: #f1f3f4;
}




#btn_timeUnits button {
    width: 6.875rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid;
    border-radius: 0.25rem;
    background-color: #ffffff;
    color: #4b4f56;
    font-family: Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

/* 마우스 호버 시 스타일 */
#btn_timeUnits button:hover {
    background-color: #f5c62e;
}

/* 선택된 버튼 스타일 */
#btn_timeUnits button.selected {
    background-color: #ffa500; /* 주황색 */
    color: white;
}

#btn_timeUnits button.reserved {
    background-color: rgba(47, 47, 47, 0.2); /* 예약된 시간 버튼 색 */
}

#btn_timeUnits button.reserved:hover {
    background-color: rgba(47, 47, 47, 0.2);
}










/* 날짜 선택기 스타일 */
.ui-datepicker {
    background-color: white;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    font-family: Arial, sans-serif;
    width: 100%;
}

.ui-datepicker-header {
    background-color: #ffa500; /* 오렌지 헤더 */
    border-radius: 0.5rem 0.5rem 0 0;
}

.ui-datepicker-title {
    color: white; /* 월과 년도 텍스트 색상 */
}

.ui-datepicker-calendar {
    border-radius: 0 0 0.5rem 0.5rem;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
    border-radius: 0.5rem;
}

.ui-state-default {
    background-color: white; /* 날짜 배경 */
    border: 0.0625rem solid #ccc;
}

.ui-state-default:hover {
    background-color: #ffa500; /* 호버 색상 */
    border: 0.0625rem solid #ccc;
    color: white;
}

/* 선택된 날짜 스타일 */
#selectedDate {
    background-color: #ffa500; /* 오렌지 배경 */
    color: white; /* 흰색 텍스트 */
    border-radius: 0.25rem;
    width: 12.5rem;
    padding: 0.5rem;
    margin-top: 1.25rem;
    font-family: Arial, sans-serif;
    text-align: center;
}





/* 크롬 스타일의 input 창 */

.chrome-style-input {
    padding: 0.3rem 0.2rem;
    font-size: 16px;
    border: 0.06rem solid;
    border-radius: 0.25rem;
    outline: none;
    transition: border-color 0.3s;
}

.chrome-style-input:focus {
    border-color: dodgerblue;
}


/* CSS 파일에 아래 내용 추가 혹은 수정 */
#btn_addReservation {
    background-color: orange;
    color: white;
    padding: 0.6rem;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    text-align: center;
}

#btn_addReservation:hover {
    background-color: darkorange;
}


#btn_reservation {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    background-color: #ff9100;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#btn_reservation:hover {
    background-color: #ff6a00; /* 호버 시 배경색 변경 */
}


/* roomDetails를 왼쪽에 배치 */
#roomDetails {
    float: left; /* 왼쪽으로 배치 */
    width: 60%; /* 적절한 너비 설정 */
}

/* reservation-container를 오른쪽에 배치 */
.reservation-container {
    float: right;
    width: 40%;
}

#reservation_form {
    width: calc(100% - 4rem);
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 1.25rem;
}

#reservation_people {

}