
#appliedOptionsButtons {
    /* 여기에 적절한 스타일을 추가하세요 */
    /* 예를 들어 배경색, 패딩, 테두리, 정렬 등을 지정할 수 있습니다 */
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: lightblue;
}



/* 기본 버튼 스타일 */
button {
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #4b4f56;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

/* 마우스 호버 시 스타일 */
button:hover {
    background-color: #f1f3f4;
}

/* 선택된 버튼 스타일 */
button.selected {
    background-color: #ffa500; /* 주황색 */
    color: white;
}
















/* 날짜 선택기 스타일 */
.ui-datepicker {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

.ui-datepicker-header {
    background-color: #ffa500; /* 오렌지 헤더 */
    border-radius: 8px 8px 0 0;
}

.ui-datepicker-title {
    color: white; /* 월과 년도 텍스트 색상 */
}

.ui-datepicker-calendar {
    border-radius: 0 0 8px 8px;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
    border-radius: 8px;
}

.ui-state-default {
    background-color: white; /* 날짜 배경 */
    border: 1px solid #ccc;
}

.ui-state-default:hover {
    background-color: #ffa500; /* 호버 색상 */
    border: 1px solid #ccc;
    color: white;
}

/* 선택된 날짜 스타일 */
#selectedDate {
    background-color: #ffa500; /* 오렌지 배경 */
    color: white; /* 흰색 텍스트 */
    border-radius: 8px;
    width: 200px;
    padding: 8px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}





