h1{
    margin-top: 10px;
}

#businessDetails {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Adjust the maximum width as needed */
    margin-right: auto; /* Align to the left */
    margin-left: 0px; /* Optional: Add a left margin for spacing */
}

#businessDetails h2 {
    color: #007bff;
}

#businessDetails p {
    margin: 10px 0;
}

#businessDetails strong {
    margin-right: 5px;
}

#openingHours {
    font-weight: bold;
}
/* 버튼 스타일 */
/*.button {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/

/*.button:hover {*/
/*    background-color: #0056b3;*/
/*}*/

.businessDetailView{
    position: relative;
    top: 2em;
    width: 90%;
}



/* business-item 클래스에 적용되는 스타일 */
#roomList {
    margin-top: 20px;
    flex-wrap: wrap;
}

.room-item {
    flex: 0 0 calc(33.3333% - 10px); /* Adjust the percentage to control the width of each square */
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.room-item:hover {
    background-color: #f0f0f0;
}



.closed-day{
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    background-color: lightblue;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.weekday{
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #4b4f56;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}



.businessManagement{
    order: 1; /* 기본 값은 0이며, 작은 값을 갖는 요소가 왼쪽으로 간다 */
    width: 50%;
}
.relatedRooms{
    order: 2; /* div2는 div1보다 뒤로 밀립니다. */
    width: 50%
}
.businessDetailView{
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 10px;
    background-color: #FF9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn :hover {
    background-color: #FFB545;
}