<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기 방법</title>
</head>
<body>
<div th:insert="~{common/header :: headerFragment}"></div>

    <form action="/signup/findPasswordMethod" method="post">
        <button type="submit" name="method" value="userPhone">연락처로 찾기</button>
    </form>

    <form action="/signup/findPasswordMethod" method="post">
        <button type="submit" name="method" value="userEmail">이메일로 찾기</button>
    </form>


    <script th:inline="javascript">
        if ([[${message}]]){
            alert([[${message}]]);
        }
    </script>
</body>
</html>