<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer th:src="@{/js/signup/findPassword/findPassword.js}"></script>
</head>
<body>
<header th:replace="~{/common/header :: headerFragment}">
    <h1>나는 header</h1>
</header>


<!--이메일로 비밀번호 찾기-->
<!--        이메일 입력-->
<div>
    <label for="inputUserEmail" id="label3" style="display: none">이메일</label>
    <input type="text" id="inputUserEmail" name="inputUserEmail" placeholder="가입된 이메일" style="display: none">
    <!--            이메일 확인 버튼-->
    <button class="emailCheck" type="button" id="emailCheck"
            onclick="fn_emailCheck();" style="display: none">
        이메일 확인
    </button>

    <!--            입력한 이메일로 인증번호 보내기 버튼-->
    <button class="sendAuthNumber" type="button" id="sendAuthNumber"
            onclick="fn_sendAuthEmail();" style="display: none">
        인증번호 보내기
    </button>
    <!--            인증번호 확인하기-->
    <input type="number" id="authNum" name="authNum" style="display: none">
    <button class="confirmAuthNumberBtn" type="button" id="confirmAuthNumberBtn"
            onclick="fn_confirmAuthNumber();" style="display: none">
        인증번호 확인하기
    </button>
</div>

<!-- 전호번호로 비밀번호 찾기-->
<div>
    <div>
        <label>
            <select id="phone1" name="phone1" style="display: none">
                <option value="010">010</option>
                <option value="02">02</option>
                <option value="031">031</option>
                <option value="032">032</option>
                <option value="033">033</option>
                <option value="064">064</option>
                <option value="062">062</option>
            </select>
        </label>
        <input type="text" id="phone2" name="phone2" maxlength="4" pattern="[0-9]{3,4}" placeholder="가운데 번호" style="display:none;"/>
        <input type="text" id="phone3" name="phone3" maxlength="4" pattern="[0-9]{4}" placeholder="끝 번호" style="display:none;"/>
    </div>

    <!--        자바 스크립트를 활용해서 동적으로 값을 숨겨진 userPhone 저장-->
    <input type="hidden" id="userPhone" name="userPhone" style="display:none;"/>
    <button class="phoneCheck" type="button" id="btn_phoneCheck"
            onclick="fn_phoneCheck();" style="display:none;">
        전화번호 확인
    </button>
</div>

<!--비밀번호 재설정-->
<form th:action="@{/signup/resetPassword}" method="post" modelAttribute="userDTO" id="resetPassword">

    <!--    가입된 아이디 값저장-->
    <input type="hidden" id="userEmail" name="userEmail"/>

<!--    비밀번호 입력-->
    <label for="userPassword2" id="label2" style="display: none">비밀번호</label>
    <input type="password" id="userPassword2" name="userPassword2" placeholder="비밀번호는 8자 이상 20자 이하로 입력해주세요" style="display: none"><br>

    <label for="userPassword" id="label" style="display:none;">비밀번호 재입력</label>
    <input type="password" id="userPassword" name="userPassword" placeholder="비밀번호는 8자 이상 20자 이하로 입력해주세요" style="display: none">
    <!--            이메일 확인 버튼-->
    <button type="submit" id="resetPasswordBtn" style="display: none">
        비밀번호 재설정
    </button>
</form>



<!--Thymeleaf 이용한 변수 선언-->
<script th:inline="javascript">
    const method = [[${method}]]
</script>



</body>
</html>