<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<header th:replace="~{/common/header :: headerFragment}">
    <h1>나는 header</h1>
</header>



<!--        이메일 입력-->
<div>
    <label for="inputUserEmail">이메일</label>
    <input type="text" id="inputUserEmail" name="inputUserEmail" placeholder="가입된 이메일">
    <!--            이메일 확인 버튼-->
    <button class="emailCheck" type="button" id="emailCheck"
            onclick="fn_emailCheck();">
        이메일 확인
    </button>



    <!--            입력한 이메일로 인증번호 보내기 버튼-->
    <button class="sendAuthNumber" type="button" id="sendAuthNumber"
            onclick="fn_sendAuthEmail();" style="display: none">
        인증번호 보내기
    </button>
    <!--            인증번호 확인하기-->
    <input type="number" id="authNum" name="authNum" style="display: none">
    <button class="confirmAuthNumberBtn" type="button" id="confirmAuthNumberBtn"
            onclick="fn_confirmAuthNumber();" style="display: none">
        인증번호 확인하기
    </button>
</div>

<!--비밀번호 재설정-->
<form th:action="@{/signup/resetPassword}" method="post" modelAttribute="userDTO" id="resetPassword">

    <!--    가입된 아이디 값저장-->
    <input type="hidden" id="userEmail" name="userEmail"/>

<!--    비밀번호 입력-->
    <label for="userPassword2">비밀번호</label>
    <input type="password" id="userPassword2" name="userPassword2" placeholder="비밀번호는 8자 이상 20자 이하로 입력해주세요">

    <label for="userPassword">비밀번호 재입력</label>
    <input type="password" id="userPassword" name="userPassword" placeholder="비밀번호는 8자 이상 20자 이하로 입력해주세요">
    <!--            이메일 확인 버튼-->
    <button type="submit" id="resetPasswordBtn">
        비밀번호 재설정
    </button>
</form>




<script >
    let isSendingEmail = false;


    // 이메일 중복 확인
    function fn_emailCheck() {
        $.ajax({
            url : "/signup/emailCheck",
            type : "POST",
            dataType :"JSON",
            data : {"userEmail" : $("#inputUserEmail").val()},
            success : function (data) {
                if(data == 1) {
                    alert("가입된 이메일입니다");
                    document.getElementById('sendAuthNumber').style.display = 'block';
                    document.getElementById('emailCheck').style.display = 'none';

                    var confirmedEmail = document.getElementById('inputUserEmail').value;
                    var inputUserEmail = document.getElementById('inputUserEmail');

                    // 이메일 확인했으면 이메일 변경불가
                    inputUserEmail.disabled = true;
                    // 인증관련 버튼들 사라져
                    document.getElementById('userEmail').value = confirmedEmail;

                } else if (data == 0) {
                    alert("가입된 이메일이 없습니다")

                    // 이메일 중복확인을 누르면 이메일 인증하기 버튼이 보이게

                }
            }

        })
    }
    // 인증 이메일 보내기
    function fn_sendAuthEmail(){
        // 이메일 보낸 경우 중복 보내는 거 방지
        if (isSendingEmail) {
            alert("이미 이메일을 보내는 중입니다.");
            return;
        }

        // 보내지 않은 경우 전송 중인 상태로 변경
        isSendingEmail = true;

        $.ajax({
            url:"/mailSend",
            type:"post",
            dataType:"json",
            data: {
                "userEmail" : $("#userEmail").val()
            },
            success: function(data){
                alert("인증번호 발송");

                // 인증메일을 보내면 인증 번호 확인 버튼이 보이게
                document.getElementById('confirmAuthNumberBtn').style.display = 'block';
                document.getElementById('authNum').style.display = 'block';

                // 전송 완료 후 전송 상태 변경
                isSendingEmail = false;
            },
            error: function () {

                // 에러 발생 시 전송 상태 변경
                isSendingEmail = false;
            }
        })
    }

    // 인증번호 확인
    function fn_confirmAuthNumber(){
        $.ajax({
            url:"/mailAuthCheck",
            type:"post",
            dataType:"json",
            data:{
                "userEmail" : $("#userEmail").val(),
                "authNum" : $("#authNum").val()
            },
            success: function(data){
                if(data == 1) {
                    alert("인증 되었습니다");

                    document.getElementById('emailCheck').style.display = 'none';
                    document.getElementById('sendAuthNumber').style.display = 'none';
                    document.getElementById('authNum').style.display = 'none';
                    document.getElementById('confirmAuthNumberBtn').style.display = 'none';

                    var confirmedEmail = document.getElementById('inputUserEmail').value;
                    var inputUserEmail = document.getElementById('inputUserEmail');
                    // 인증된 이메일 변경 불가능
                    inputUserEmail.disabled = true;
                    // 인증관련 버튼들 사라져

                    document.getElementById('userEmail').value = confirmedEmail;

                } else if (data == 0) {
                    $("#emailCheck").attr("value", "Y");
                    alert("잘못된 인증번호입니다.")
                }
            }
        })
    }
</script>

<!-- 비밀번호 재설정 -->
<script>
    document.getElementById('resetPassword').addEventListener('submit', function(event) {
        const password = document.getElementById("userPassword").value;
        const confirmPassword = document.getElementById("userPassword2").value;

        if (password !== confirmPassword) {
            alert("입력하신 비밀번호가 다릅니다.");
            event.preventDefault(); // 제출 이벤트 취소
        }
    });


</script>





</body>
</html>