<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="/css/roomRegister/form/roomRegisterForm.css">
    <script src="/js/roomRegister/form/roomRegisterForm.js"></script>

    <script th:inline="javascript">
        let roomOptions = [[${roomOptions}]]
        let businessNo = [[${businessNo}]]
    </script>
</head>
<body>
<header th:replace="~{/common/header :: headerFragment}">
    <h1>나는 header</h1>
</header>






<!--    - 방 이름	ROOM_NAME-->
    <label for="roomName">방 이름을 입력해주세요:</label>
    <input type="text" id="roomName" name="roomName"/><br>

<!--    - 한 줄 소개	ROOM_INTRO-->
    <label for="roomIntro">방 한줄 소개를 입력해주세요:</label>
    <textarea id="roomIntro" rows="2" cols="50"></textarea><br><br>

<!--    - 상세 소개	ROOM_DETAIL_INTRO-->
    <label for="roomDetail">상세 소개를 입력해주세요:</label>
    <textarea id="roomDetail" rows="5" cols="200"></textarea><br><br>

<!--    - 최소 수용 인원	ROOM_MIN_PEOPLE-->
    <label for="roomMinPeople">최소 수용 인원을 입력해주세요:</label>
    <input type="number" id="roomMinPeople" name="roomMinPeople"/><br>

<!--    - 최대 수용 인원	ROOM_MAX_PEOPLE-->
    <label for="roomMaxPeople">최대 수용 인원을 입력해주세요:</label>
    <input type="number" id="roomMaxPeople" name="roomMinPeople"/><br>

<!--    - 시설 안내	ROOM_FACILITY_INFO-->
    <label for="roomFacilityInfo">시설 안내를 입력해주세요:</label>
    <textarea id="roomFacilityInfo" rows="5" cols="200"></textarea><br><br>

<!--    - 유의 사항	ROOM_NOTICE-->
    <label for="roomNotice">유의 사항를 입력해주세요:</label>
    <textarea id="roomNotice" rows="5" cols="200"></textarea><br><br>

<!--    - 방 가격	ROOM_PRICE-->
    <label for="price">방 가격을 입력해주세요:</label>
    <input type="number" id="price" name="price"/><br>


<!-- 원하는 방 옵션을 선택해주세요-->

    <!--    버튼이 추가될 곳-->
    <div id="optionButtons"></div>

    <!--선택된 옵션을 보여주는 곳-->
    <p id="selectedOptions">선택된 옵션: </p>

    <!-- 값 저장 후 전송할 버튼 -->
    <button onclick="saveValues()">확인</button>



    <input type="button" onclick="submitRoomRegisterForm()" value="방 등록">











</body>
</html>