<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="/css/roomRegister/form/roomRegisterForm.css">
    <script src="/js/roomRegister/form/roomRegisterForm.js"></script>

</head>
<body>
<header th:replace="~{/common/header :: headerFragment}">
    <h1>나는 header</h1>
</header>


<form action="/roomRegister/room/register" method="post" modelAttribute="roomDTO" id="roomRegisterForm">



<!--    - 방 이름	ROOM_NAME-->
    <label for="roomName">방 이름을 입력해주세요:</label>
    <input type="text" id="roomName" name="roomName"/><br>

<!--    - 한 줄 소개	ROOM_INTRO-->
    <label for="roomIntro">방 한줄 소개를 입력해주세요:</label>
    <textarea id="roomIntro" rows="2" cols="50"></textarea><br><br>

<!--    - 상세 소개	ROOM_DETAIL_INTRO-->
    <label for="roomDetailInfo">상세 소개를 입력해주세요:</label>
    <textarea id="roomDetailInfo" rows="5" cols="200"></textarea><br><br>

<!--    - 최소 수용 인원	ROOM_MIN_PEOPLE-->
    <label for="roomMinPeople">최소 수용 인원을 입력해주세요:</label>
    <input type="number" id="roomMinPeople" name="roomMinPeople"/><br>

<!--    - 최대 수용 인원	ROOM_MAX_PEOPLE-->
    <label for="roomMaxPeople">최대 수용 인원을 입력해주세요:</label>
    <input type="number" id="roomMaxPeople" name="roomMinPeople"/><br>

<!--    - 시설 안내	ROOM_FACILITY_INFO-->
    <label for="roomFacilityInfo">시설 안내를 입력해주세요:</label>
    <textarea id="roomFacilityInfo" rows="5" cols="200"></textarea><br><br>

<!--    - 유의 사항	ROOM_NOTICE-->
    <label for="roomNotice">유의 사항를 입력해주세요:</label>
    <textarea id="roomNotice" rows="5" cols="200"></textarea><br><br>

<!--    - 방 가격	ROOM_PRICE-->
    <label for="price">방 가격을 입력해주세요:</label>
    <input type="number" id="price" name="price"/><br>





    <button type="submit" id="btn_roomRegister">방 등록하기</button>
</form>


<!-- 원하는 방 옵션을 선택해주세요-->
<!--thymeleaf 활용해서 변수 JS 변수 선언-->
<script th:inline="javascript">
    let roomOptions = [[${roomOptions}]]
</script>


<!-- 버튼이 추가될 곳 -->
<div id="optionButtons"></div>

<!--선택된 옵션을 보여주는 곳-->
<p id="selectedOptions">선택된 옵션: </p>

<!-- 값 저장 후 전송할 버튼 -->
<button onclick="saveValues()">확인</button>



    <!--        카테고리 테이블에 있는 데이터를 가져와서 동적으로 select할 수 있게 하는 메소드 -->


    <label for="roomOptions">카테고리</label>
    <select id="roomOptions" name="roomOptions">
        <option
                th:each="roomOption : ${roomOptions}"
                th:value="${roomOption.optionIdx}"
                th:text="${roomOption.optionName}">
        </option>
    </select><br>














<!-- - Controller

사업체 번호	BUSINESS_NO - 사업체 번호를 가져와서 입력함

방 상태	ROOM_AVAILABLE_STATUS - default : Y  로 설정

등록일	ROOM_REGIST_DATE - regist될 때 현재 시간으로 설정

상태	ROOM_STATUS - default : Y 로 설정

- 기타

방 번호	ROOM_NO - 쿼리에서 autoIncrement (NULL 입력)

수정일	ROOM_UPDATE_DATE - 건들지 않음-->






</body>
</html>