<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약 시간 관리 페이지</title>

    <script th:inline="javascript">
        // businessNo를 JavaScript 변수로 저장
        let businessNo = [[${businessNo}]]
    </script>

    <link rel="stylesheet" href="/css/roomRegister/form/timeScheduleForm.css">
</head>
<body>

<header th:replace="~{/common/header :: headerFragment}">
    <h1>나는 header</h1>
</header>

<h1>영업 시간 관리</h1>


<!--시작시간<0100 - 1200 (1hr)>-->
<label for="startTime">시작시간</label>
<select id="startTime" name="startTime"></select>

<br><br>

<!--최소 예약 시간 <select1~12>-->
<label for="minRsvTime">최소 예약 시간</label>
<select id="minRsvTime" name="minRsvTime"></select>

<br><br>

<!--종료시간(동적으로 옵션 생기게)<select before24>-->
<label for="endTime">종료 시간</label>
<select id="endTime" name="endTime"></select>

<!--    확인하면 등록-->
<div class="button" id="addTimeSchedule">예약 시간 추가</div>


<!--    등록되면(다시 등록 못하게)-->


<script src="/js/roomRegister/form/timeScheduleForm.js"></script>
</body>
</html>