<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link th:href="@{/css/common/header.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/common/footer.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/signup/signup.css">
    <script defer th:src="@{/js/signup/signup.js}"></script>
</head>
<body>

<div th:insert="~{/common/header :: headerFragment}"></div>

<section>

    <h1 class="title">회원가입</h1>


    <input type="hidden" th:value="${userAuth}" name="userAuth"/>

    <!--        이메일 입력-->
    <div id="email">
        <label for="inputUserEmail">이메일 : </label>
        <input type="text" id="inputUserEmail" name="inputUserEmail">

        <!--            이메일 중복확인 버튼-->
        <button id="btn_checkEmail" onclick="fn_checkEmail()">중복확인</button>




        <!--            인증번호 확인하기-->
        <input type="number" id="authNum" name="authNum" style="display: none">
        <button  id="confirmAuthNumberBtn" type="button"
                 onclick="fn_confirmAuthNumber();" style="display: none">
            인증번호 확인하기
        </button>

        <!--            입력한 이메일로 인증번호 보내기 버튼-->
        <button class="sendAuthNumber" type="button" id="sendAuthNumber"
                onclick="fn_sendAuthEmail();" style="display: none">
            인증번호 보내기
        </button>

    </div>

    <!--        비밀번호 입력하기-->
    <div >

        <label for="password1">비밀번호 : </label>
        <input type="password" id="password1" name="password1" placeholder="비밀번호는 대,소문자,숫자,특수기호가 각각 하나 이상씩 포함되어야 하며, 총 8~20자 사이여야 합니다."><br>

        <p id="checkPassword1" class="password-message" style="display: block"></p>

        <label for="password2">비밀번호 확인: </label>
        <input type="password" id="password2" name="password2" placeholder="비밀번호를 다시 입력해주세요"><br>

        <p id="checkPassword2" class="password-message" style="display: block"></p>
    </div>

    <!--        닉네임 입력하기-->
    <div>
        <label for="userNickname">닉네임 : </label>
        <input type="text" id="userNickname" name="userNickname" placeholder="닉네임은 필수입니다"/><br>
        <button onclick="fn_checkNickname()" id="btn_checkNickname">중복확인</button>
    </div>

    <!--        전화번호 입력하기-->
    <div id="inputUserPhone">
        <label for="inputUserPhone">전화번호 : </label>
        <label>
            <select id="phone1" name="phone1">
                <option value="010">010</option>
                <option value="02">02</option>
                <option value="031">031</option>
                <option value="032">032</option>
                <option value="033">033</option>
                <option value="064">064</option>
                <option value="062">062</option>
            </select>
        </label>
        <input type="text" id="phone2" name="phone2" maxlength="4" pattern="[0-9]{3,4}" placeholder="가운데 번호"/>
        <input type="text" id="phone3" name="phone3" maxlength="4" pattern="[0-9]{4}" placeholder="끝 번호"/>
    </div>

    <input id="register" type="button" onclick="registUser()" value="가입하기">

</section>

<div class="footer" th:insert="~{/common/footer :: footerFragment}"></div>

<!--자바스크립트: 에러 메세지-->
<script th:inline="javascript">
    let userAuth = [[${userAuth}]]
</script>

</body>
</html>








