<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

    <header th:replace="~{/common/header :: headerFragment}">
    <h1>나는 header</h1>
    </header>


    <h1>회원가입</h1>
    <form th:action="@{/signup/signup}" method="post" modelAttribute="signupDTO">

        <input type="hidden" th:value="${userAuth}" name="userAuth"/>

        가입하실 이메일(ID) : <input type="text" name="userEmail"/><br>

<!--        <div>-->
<!--        <input type="text" name="userEmail" th:value="${signupDTO.userEmail}" placeholder="이메일을 입력해주세요. example@example.com"/>-->
<!--        <span th:text="${valid_userEmail}"></span>-->
<!--        </div>-->

        비밀번호 : <input type="password" name="userPassword"/><br>
        닉네임 : <input type="text" name="userNickname"/><br>
        전화번호 : <input type="text" name="userPhone"/><br>


        <br>
        <button>가입하기</button>



<!--        -->
<!--        USER_STATUS-->
<!--        USER_REGIST_DATE-->


<!--        PROFILE_IMAGE_NO-->
    </form>




    <script th:inline="javascript">
        const message = [[${message}]]
        if (message){
            alert(message);
        }
    </script>

</body>
</html>


