<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>블랙 처리 하는 사유를 작성해주세요</h3>

    <form action="/admin/black/insertBlacklist" method="post">
        <input type="text" name="blackReason" placeholder="사유를 작성해주세요.(500자 제한)">
        <input type="hidden" name="userNo" th:value="${userNo}">
        <input type="hidden" name="auth" th:value="${auth}">
        <input type="hidden" name="email" th:value="${email}">
        <button type="submit">블랙리스트에 추가</button>
    </form>

</body>
</html>