<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블랙리스트 관리 페이지</title>
</head>
<body>
  <header th:replace="~{/common/header :: headerFragment}"></header>

  <h1>관리자 블랙리스트 관리 페이지</h1>

  <nav th:replace="admin/adminNav :: nav"></nav>

  <section>
      <div>
          <form action="/admin/black/showBlacklist" method="get">
              <select name="mode">
                  <option value="email">이메일</option>
                  <option value="nickname">닉네임</option>
                  <option value="phone">연락처</option>
                  <option value="inactive">이전 블랙리스트</option>
              </select>
              회원 정보 검색 : <input type="text" name="str"><button>검색</button>
          </form>
      </div>

      <div>
          <h2>검색 결과</h2>
          <table>
              <tr>
                  <th>블랙리스트 번호</th>
                  <th>회원 번호</th>
                  <th>이전 권한</th>
                  <th>이메일</th>
                  <th>닉네임</th>
                  <th>연락처</th>
                  <th>블랙리스트 사유</th>
                  <th>최초 등재일</th>
                  <th>블랙리스트 등재여부</th>
                  <th>정보 수정일</th>
                  <th>남은 기간</th>
              </tr>
              <tr th:each="member : ${blacklist}">
                  <td th:text="${member.blackNo}"></td>
                  <td th:text="${member.userNo}"></td>
                  <td th:text="${member.auth}"></td>
                  <td th:text="${member.email}"></td>
                  <td th:text="${member.nickname}"></td>
                  <td th:text="${member.phone}"></td>
                  <td th:text="${member.blackReason}"></td>
                  <td th:text="${member.blackRegistDate}"></td>
                  <td th:text="${member.blackStatus}"></td>
                  <td th:text="${member.blackUpdateDate}"></td>
                  <td th:text="${member.blackSentencePeriod}"></td>
                  <td>
                      <form action="/admin/black/restoreAuth" method="post">
                          <input type="hidden" name="userNo" th:value="${member.userNo}"/>
                          <input type="hidden" name="email" th:value="${member.email}"/>
                          <input type="hidden" name="auth" th:value="${member.auth}"/>
                          <input type="hidden" name="status" th:value="${member.blackStatus}"/>
                          <button type="submit">권한 복구</button>
                      </form>
                  </td>
              </tr>
          </table>
      </div>
  </section>

  <th:block th:if="${restore}">
      <script th:inline="javascript">
          window.onload =function (){
              let message = `[[${restore}]]`;
              alert(message);
          }
      </script>
  </th:block>
</body>
</html>