body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat
}

.container-fluid {
    margin-top: 80px;
    margin-bottom: 80px
}

.card {
    background-color: #424242;
    padding: 40px 10px
}

.text-grey {
    color: #9E9E9E
}

.fa {
    font-size: 25px;
    cursor: pointer
}

input,
select {
    padding: 2px 6px;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: none;
    box-sizing: border-box;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center !important
}

input:focus,
select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #00C853;
    outline-width: 0
}

select option {
    background-color: #616161
}

select option:focus {
    background-color: #00C853 !important
}

::placeholder {
    color: #fff;
    opacity: 1
}

:-ms-input-placeholder {
    color: #fff
}

::-ms-input-placeholder {
    color: #fff
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.btn {
    border-radius: 50px;
    width: 120px
}

.exit {
    border: 1px solid #9E9E9E;
    color: #9E9E9E;
    background-color: transparent
}

.exit:hover {
    border: 1px solid #9E9E9E;
    color: #000 !important;
    background-color: #9E9E9E
}

@media screen and (max-width: 768px) {
    .mob {
        width: 70%
    }

    select.mob {
        width: 50%
    }
}