/* styles.css */
/* 선택된 버튼의 스타일 */
button.selected , button.start-selected {
    background-color: #007bff; /* 원하는 배경색으로 변경 */
    color: #fff; /* 텍스트 색상 변경 */
    font-weight: bold; /* 폰트 굵기 변경 */
    /* 다른 스타일을 추가하셔도 됩니다. */
}

/* 마우스 클릭 시 효과 */
button:active {
    background-color: #555; /* 클릭 시 색상 변경 */
}

.main {
    position: relative;
    top: 2rem;
    left: 2rem;
}








