

button {
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #4b4f56;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}


/* 마우스 호버 시 스타일 */
button:hover {
    background-color: #add8e6;
}

/* 선택된 버튼 스타일 */
button.selected {
    background-color: rgba(58, 194, 239, 0.73); /* 주황색 */
    color: white;
}