<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>방 상세 정보</title>
    <!-- Kakao 지도 API 스크립트 -->

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=13c9741586ee1ef04079d7c79c9ca27b&libraries=services"></script>

    <script th:inline="javascript">
        let appliedOptions = [[${appliedOptions}]]
        let relatedBusinessInfo = [[${relatedBusinessInfo}]]
        let address = [[${relatedBusinessInfo.businessAddressRoad}]]
        let closedDays = [[${closedDays}]]
        let holidays = [[${holidays}]]
        let timeUnits = [[${timeUnits}]]
    </script>

    <link rel="stylesheet" href="/css/reservation/detail/roomDetail.css">
    <script src="/js/reservation/detail/roomDetail.js"></script>


</head>
<body>


<div th:insert="~{common/header :: headerFragment}"></div>

<h1>상세 페이지</h1>

<!-- 비즈니스 상세 정보가 표시될 부분 -->
<div id="roomDetails">
    <h1 th:text="${roomDetails.roomName}"></h1>
    <p><strong>한 줄 소개:</strong> <span th:text="${roomDetails.roomIntro}"></span></p>

    <p><strong>연락처:</strong> <span th:text="${relatedBusinessInfo.businessPhone}"></span></p>
    <p><strong>상세 소개:</strong> <span th:text="${roomDetails.roomDetail}"></span></p>
    <p><strong>최소 수용 인원:</strong> <span th:text="${roomDetails.roomMinPeople}"></span></p>
    <p><strong>최대 수용 인원:</strong> <span th:text="${roomDetails.roomMaxPeople}"></span></p>
    <p><strong>시설 안내:</strong> <span th:text="${roomDetails.roomFacilityInfo}"></span></p>
    <p><strong>유의 사항:</strong> <span th:text="${roomDetails.roomNotice}"></span></p>
    <p><strong>등록일:</strong> <span th:text="${roomDetails.roomRegistDate}"></span></p>


<div id="appliedOptionsButtons"></div>

<!-- 지도를 표시할 div -->
<p><strong>주소:</strong> <span th:text="|${relatedBusinessInfo.businessAddressRoad}  ${relatedBusinessInfo.businessAddressDetail}|"></span></p>
<div id="map" style="width:500px;height:400px;"></div>

</div>
<!--예약 날짜를 선택함-->
    <input type="date" id="reservationDate">


<!--예약 시간을 선택함-->
    <div id="btn_timeUnits"></div>

<!--예약 인원을 선택함-->

<!--예약하기 버튼을 누르면 예약 절차 완료-->


<div>


</div>



</body>
</html>