<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>방 상세 정보</title>
    <!-- Kakao 지도 API 스크립트 -->

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=13c9741586ee1ef04079d7c79c9ca27b&libraries=services"></script>



    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>


    <script th:inline="javascript">
        let appliedOptions = [[${appliedOptions}]]
        let relatedBusinessInfo = [[${relatedBusinessInfo}]]
        let address = [[${relatedBusinessInfo.businessAddressRoad}]]
        let closedDays = [[${closedDays}]]
        let holidays = [[${holidays}]]
        let timeUnits = [[${timeUnits}]]
        let roomDetails = [[${roomDetails}]]
        let roomNo = [[${roomDetails.roomNo}]]
        let reserved = [[${reserved}]]
    </script>

    <link rel="stylesheet" href="/css/reservation/detail/roomDetail.css">
    <script src="/js/reservation/detail/roomDetail.js"></script>


</head>
<body>


<div th:insert="~{/common/header :: headerFragment}"></div>

<h1>상세 페이지</h1>

<!-- 비즈니스 상세 정보가 표시될 부분 -->
<div id="roomDetails">
    <h1 th:text="${roomDetails.roomName}"></h1>
    <p><strong>한 줄 소개:</strong> <span th:text="${roomDetails.roomIntro}"></span></p>

    <p><strong>연락처:</strong> <span th:text="${relatedBusinessInfo.businessPhone}"></span></p>
    <p><strong>상세 소개:</strong> <span th:text="${roomDetails.roomDetail}"></span></p>
    <p><strong>최소 수용 인원:</strong> <span th:text="${roomDetails.roomMinPeople}"></span></p>
    <p><strong>최대 수용 인원:</strong> <span th:text="${roomDetails.roomMaxPeople}"></span></p>
    <p><strong>시설 안내:</strong> <span th:text="${roomDetails.roomFacilityInfo}"></span></p>
    <p><strong>유의 사항:</strong> <span th:text="${roomDetails.roomNotice}"></span></p>
    <p><strong>등록일:</strong> <span th:text="${roomDetails.roomRegistDate}"></span></p>


<div id="appliedOptionsButtons"></div>

<!-- 지도를 표시할 div -->
<p><strong>주소:</strong> <span th:text="|${relatedBusinessInfo.businessAddressRoad}  ${relatedBusinessInfo.businessAddressDetail}|"></span></p>
<div id="map" style="width:500px;height:400px;"></div>

</div>




<div id="reservation_form">
    <!--예약 날짜를 선택함-->
    <div>
        <!-- 달력을 보여줄 div -->
        <button id="showCalendar" class="button is-primary is-small">달력 보기/숨기기</button>
        <div id="datepicker"></div>
    </div>
    <!--선택된 날짜를  보여 준다-->
    <div id="selectedDate">선택한 날짜: </div>



    <!--예약 시간을 선택함-->
    <div id="btn_timeUnits"></div>

    <div>
        <!--Flexbox를 사용한 방법-->
        <div style="display: flex; align-items: center;">
            <input type="number" id="reservation_people" class="chrome-style-input" style="width: 50px">
            <label for="reservation_people">인</label>
        </div>

<!--        &lt;!&ndash;Gird를 사용한 방법&ndash;&gt;-->
<!--        <div style="display: grid; grid-template-columns: auto auto;">-->
<!--            <input type="number" id="reservation_people" class="chrome-style-input" style="width: 50px">-->
<!--            <label for="reservation_people">인</label>-->
<!--        </div>-->

        <p id="pricePerPerson"></p>

        <h3 id="totalPrice"></h3>

        <!--예약하기 버튼-->


    </div>

    <div class="button" id="btn_addReservation" style="width: 150px" onclick="addReservation()">예약하기</div>

</div>





</body>
</html>