<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지</title>
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div th:insert="~{/common/header :: headerFragment}"></div>

    <section>
        <h1>MEMBER</h1>
        <article>
            <img src="/img/profile/엄지척%20토끼.jpg" alt="임시 프로필"/>
        </article>
        <article>
            <h3 id="memberNickname" th:text="${user.userNickname}"></h3>
            회원 가입일 : <p th:text="${user.userRegistDate}"></p>
        </article>
        <form action="/myPage/withdrawReason" method="post">
            <input type="hidden" name="userNo" th:value="${user.userNo}"/>
            <button type="submit">회원 탈퇴</button>
        </form>
    </section>

    <section>
        <article>
            EMAIL : <p th:text="${user.userEmail}"></p>
        </article>
        <article>
            비밀번호 : <P th:text="${user.userPassword}"></P>
        </article>
        <article>
            <form id="changeNickname" action="/myPage/changeNickname" method="post">
                <input type="hidden" name="userNo" th:value="${user.userNo}"/>
                닉네임 : <input type="text" id="nickname" name="nickname" th:placeholder="${user.userNickname}">
                <button type="button" onclick="changeNickname()">닉네임 변경</button>
            </form>
        </article>
        <article>
            연락처 : <p th:text="${user.userPhone}"></p>
        </article>
    </section>

    <script>
        function changeNickname(){
            let userNo = $("input[name='userNo']").val();
            let nickname = $("#nickname").val();

            // Ajax 활용한 비동기화 요청
            $.ajax({
                type: "POST",
                url: "/myPage/changeNickname",
                data: {userNo: userNo, nickname: nickname},
                success: function (response){
                    // 성공 시 결과를 동적으로 페이지에 추가
                    $("#nickname").val(nickname); // 닉네임 필드 업데이트
                    $("#memberNickname").text(nickname);
                },
                error: function (error){
                    console.error("에러 발생", error);
                    // 실패 시 에러 처리
                }
            });
        }
    </script>
</body>
</html>