<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{/common/header :: headerFragment}">
    <h1>나는 header</h1>
</header>

<table>
    <tr>
        <th>닉네임</th>
        <th>이메일</th>
        <th>연락처</th>
        <th>권한</th>

    </tr>
    <tr>
        <td th:text="${mypages.userNickname}"></td>
        <td th:text="${mypages.userEmail}"></td>
        <td th:text="${mypages.userPhone}"></td>
        <td th:text="${mypages.userAuth}"></td>
    </tr>
</table>
<button onclick="location.href='/'">홈</button>
<button onclick="location.href='/mypageview'">비밀번호 변경</button>
</body>
</html>