<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지</title>
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div th:insert="~{/common/header :: headerFragment}"></div>

<div th:insert="~{/myPage/myPageNav :: myPageNav}"></div>

    <section>
        <h1>MEMBER</h1>
        <article>
            <img src="/img/profile/엄지척%20토끼.jpg" alt="임시 프로필"/>
        </article>
        <article>
            <h2 id="memberNickname" th:text="${user.userNickname}"></h2>
            회원 가입일 : <p th:text="${user.userRegistDate}"></p>
        </article>
        <form action="/myPage/withdrawReason" method="post">
            <input type="hidden" name="userNo" th:value="${user.userNo}"/>
            <button type="submit">회원 탈퇴</button>
        </form>
    </section>

    <section>
        <article>
            EMAIL : <span th:text="${user.userEmail}"></span>
        </article>
        <article>
            비밀번호 :
            <form action="/myPage/changePasswordPage" method="post">
                <input type="hidden" name="userNo" th:value="${user.userNo}"/>
                <input type="hidden" name="password" th:value="${user.userPassword}">
                <button type="submit">비밀번호 변경</button>
            </form>
        </article>
        <article>
            <form id="changeNickname" action="/myPage/changeNickname" method="post">
                <input type="hidden" name="userNo" th:value="${user.userNo}"/>
                닉네임 : <input type="text" id="nickname" name="nickname" th:value="${user.userNickname}" th:placeholder="${user.userNickname}">
                <button type="button" on onclick="changeNickname()">닉네임 변경</button>
            </form>
        </article>
        <article>
            <form id="changePhone" action="/myPage/changePhone" method="post">
                <input type="hidden" name="userNo" th:value="${user.userNo}"/>
                연락처 : <input type="text" id="phone" name="phone" th:value="${user.userPhone}" th:placeholder="${user.userPhone}">
                <button type="button" onclick="changePhone()">연락처 변경</button>
            </form>
        </article>
    </section>

    <!-- 따로 페이지 분리가 안됨;; -->
    <script>
        function changeNickname(){
            const userConfirmed = confirm("닉네임을 변경하시겠습니까?")

            let nickname = $("#nickname").val();

            if(userConfirmed && nickname !== ""){
                let userNo = $("input[name='userNo']").val();

                // Ajax 활용한 비동기화 요청
                $.ajax({
                    type: "POST",
                    url: "/myPage/changeNickname",
                    data: {userNo: userNo, nickname: nickname},
                    success: function (response){
                        // 성공 시 결과를 동적으로 페이지에 추가
                        $("#nickname").val(nickname); // 닉네임 필드 업데이트
                        $("#memberNickname").text(nickname);
                        alert("닉네임이 변경되었습니다.")
                    },
                    error: function (error){
                        console.error("에러 발생", error);
                        // 실패 시 에러 처리
                        alert("닉네임 변경에 실패하였습니다.")
                    }
                });
            }else {
                if(nickname === ""){
                    alert("닉네임은 필수입니다.")
                }
                console.log("닉네임 변경을 취소합니다.")
            }

        }

        function changePhone(){
            const userConfirmed = confirm("연락처를 변경하시겠습니까?")

            if(userConfirmed){
                let userNo = $("input[name='userNo']").val();
                let phone = $("#phone").val();

                // 전화번호 글자 수 제한
                let minPhoneLength = 9;
                let maxPhoneLength = 15;

                if(phone !== "" && phone.length >= minPhoneLength && phone.length <= maxPhoneLength){
                    // Ajax 활용
                    $.ajax({
                        type: "POST",
                        url: "/myPage/changePhone",
                        data: {userNo: userNo, phone: phone},
                        success: function (response){
                            // 성공 시 결과를 동적으로 페이지에 추가
                            $("#phone").val(phone); // 연락처 필드 업데이트
                            alert("연락처가 변경되었습니다.")
                        },
                        error: function (error){
                            console.error("에러 발생", error);
                            // 실패 시 에러 처리
                            alert("연락처 변경에 실패하였습니다.")
                        }
                    });
                }else {
                    alert("적절하지 못한 연락처입니다.")
                }

            }else {
                console.log("연락처 변경을 취소합니다.")
            }
        }
    </script>

    <th:block th:if="${message}">
        <script th:inline="javascript">
            window.onload =function (){
                let message = `[[${message}]]`;
                alert(message);
            }
        </script>
    </th:block>
</body>
</html>