<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:fragment="myPageNav" class="nav">
        <ul>
            <li><a href="/myPage/search">회원 정보</a></li>
            <li><a href="/myPage/reservationList">예약 리스트</a></li>
            <li><a href="/myPage/review">리뷰</a></li>
            <li><a href="/myPage/inquiry">문의</a></li>
        </ul>

        <form th:action="@{/security/auth/logout}" th:method="post">
            <button>로그아웃</button>
        </form>
    </nav>
</body>
</html>