<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<div th:insert="~{/common/header :: headerFragment}"></div>

  <h3>비밀 번호를 변경해주세요.</h3>
  <form action="/myPage/passwordChanger" method="post" onsubmit="return confirmPasswordChange()">
    <input type="hidden" name="userNo" th:value="${userNo}">
    <input type="hidden" name="password" th:value="${password}">
    현재 비밀번호 : <input type="text" name="oldPassword">
    새 비밀번호 : <input type="text" name="newPassword">
    새 비밀번호 확인 : <input type="text" name="newPasswordRe">
    <button type="submit">비밀번호 변경하기</button>
  </form>

<script>
  function confirmPasswordChange() {
    // 확인 대화 상자 띄우기
    const userConfirmed = confirm('비밀번호를 변경하시겠습니까?');

    if (userConfirmed) {
      // 사용자가 확인을 선택한 경우에는 true를 반환하여 폼 제출을 허용
      return true;
    } else {
      // 사용자가 취소를 선택한 경우에도 페이지를 이동하도록 함
      console.log('비밀번호 변경이 취소되었습니다.');
      redirectToNewPage();
      return false; // 폼 제출을 취소합니다.
    }
  }

  // 폼이 제출된 후 페이지를 변경하는 함수
  function redirectToNewPage() {
    // 원하는 URL로 변경
    window.location.href = '/myPage/search'; // 적절한 URL로 수정
  }
</script>

  <th:block th:if="${message}">
    <script th:inline="javascript">
      window.onload =function (){
        let message = `[[${message}]]`;
        alert(message);
      }
    </script>
  </th:block>

</body>
</html>