@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');*{margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;text-shadow: rgba(0, 0, 0, .01) 0 0 1px}body{font-family: 'Rubik', sans-serif;font-size: 14px;font-weight: 400;background: #eee;color: #000000}div{display: block;position: relative;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}ul{list-style: none;margin-bottom: 0px}p{font-family: 'Rubik', sans-serif;font-size: 14px;line-height: 1.7;font-weight: 400;color: #828282;-webkit-font-smoothing: antialiased;-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;text-shadow: rgba(0, 0, 0, .01) 0 0 1px}p a{display: inline;position: relative;color: inherit;border-bottom: solid 1px #ffa07f;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease}a, a:hover, a:visited, a:active, a:link{text-decoration: none;-webkit-font-smoothing: antialiased;-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;text-shadow: rgba(0, 0, 0, .01) 0 0 1px}p a:active{position: relative;color: #FF6347}p a:hover{color: #FFFFFF;background: #ffa07f}p a:hover::after{opacity: 0.2}::selection{}p::selection{}h1{font-size: 48px}h2{font-size: 36px}h3{font-size: 24px}h4{font-size: 18px}h5{font-size: 14px}h1, h2, h3, h4, h5, h6{font-family: 'Rubik', sans-serif;font-weight: 500;-webkit-font-smoothing: antialiased;-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;text-shadow: rgba(0, 0, 0, .01) 0 0 1px}h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection{}.form-control{color: #db5246}section{display: block;position: relative;box-sizing: border-box}.clear{clear: both}.clearfix::before, .clearfix::after{content: "";display: table}.clearfix::after{clear: both}.clearfix{zoom: 1}.float_left{float: left}.float_right{float: right}.bbb_background{background-color: #E0E0E0 !important}.trans_200{-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease}.trans_300{-webkit-transition: all 300ms ease;-moz-transition: all 300ms ease;-ms-transition: all 300ms ease;-o-transition: all 300ms ease;transition: all 300ms ease}.trans_400{-webkit-transition: all 400ms ease;-moz-transition: all 400ms ease;-ms-transition: all 400ms ease;-o-transition: all 400ms ease;transition: all 400ms ease}.trans_500{-webkit-transition: all 500ms ease;-moz-transition: all 500ms ease;-ms-transition: all 500ms ease;-o-transition: all 500ms ease;transition: all 500ms ease}.fill_height{height: 100%}.super_container{width: 100%;overflow: hidden}.prlx_parent{overflow: hidden}.prlx{height: 130% !important}.nopadding{padding: 0px !important}.button{display: inline-block;background: #0e8ce4;border-radius: 5px;height: 48px;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease}.button a{display: block;font-size: 18px;font-weight: 400;line-height: 48px;color: #FFFFFF;padding-left: 35px;padding-right: 35px}.button:hover{opacity: 0.8}.trends{position: relative;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 top: 100px;padding-top: 80px;padding-bottom: 80px}.bbb_overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(203, 225, 238, 0.3)}.bbb_background{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;background-position: center center}.bbb_container{top: 50%;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);padding-right: 40px}.bbb_title{padding-right: 50px}.bbb_text{margin-top: 17px}.bbb_text p:last-child{margin-bottom: 0px}.bbb_slider_nav{margin-top: 27px}.bbb_nav{display: inline-block;width: 36px;height: 36px;box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);border-radius: 50%;text-align: center;cursor: pointer;margin-right: 16px;background-color: #2d8ce4}.bbb_nav:last-child{margin-right: 0px}.bbb_nav i{line-height: 36px;color: #fff;font-size: 18px;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease}.bbb_nav:hover i{color: #474747}.bbb_item{background: #FFFFFF;border-radius: 1px;padding: 25px}.bbb_image{width: 100%;height: 212px}.bbb_image img{width: auto !important;max-width: 100% !important}.bbb_category a{font-size: 12px;color: rgba(0, 0, 0, 0.5)}.bbb_category a:hover{color: #0e8ce4}.bbb_content{margin-top: 24px}.bbb_name{float: left}.bbb_name a{font-size: 16px;color: #000000}.bbb_name a:hover{color: #0e8ce4}.bbb_price{font-size: 16px;font-weight: 500;float: right}.bbb_fav{position: absolute;top: 18px;right: 18px;width: 36px;height: 36px;background: #FFFFFF;box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);border-radius: 50%;visibility: hidden;opacity: 0;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease;cursor: pointer}.bbb_fav.active{visibility: visible;opacity: 1}.bbb_fav:hover{box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3)}.bbb_item:hover .bbb_fav{visibility: visible;opacity: 1;top: 18px}.bbb_fav i{display: block;position: absolute;left: 50%;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);color: #cccccc;line-height: 36px;pointer-events: none;z-index: 0;-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-ms-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease}.bbb_fav.active i{color: red}.bbb_item:hover .bbb_fav{visibility: visible;opacity: 1}.bbb_marks{position: absolute;left: 18px;top: 18px}.bbb_mark{display: none;width: 36px;height: 36px;font-size: 10px;font-weight: 500;color: #FFFFFF;border-radius: 50%;line-height: 36px;text-align: center}.bbb_discount{background: #df3b3b}.bbb_item.discount .bbb_discount, .bbb_item.is_new .bbb_new{display: block}.bbb_new{background: #0e8ce4}@media only screen and (max-width: 991px){.bbb_slider_container{margin-top: 15px}}

.bbb_item {
    width: 336px; /* 가득 차도록 너비 조정 */
    height: 276px; /* 높이를 자동으로 조정하여 내용에 맞춤 */
    position: relative; /* 부모 요소를 relative로 지정 */
}


.bbb_content {
    position: absolute; /* 자식 요소를 absolute로 지정 */
    bottom: 5%; /* 바닥에서 5px 떨어진 위치에 배치 */
}


.bbb_name a {
    font-size: 20px; /* 폰트 크기를 조절하세요 */
    /* 다른 스타일도 추가할 수 있어요 */
}

.bbb_price {
    font-size: 14px; /* 원하는 사이즈로 조절하세요 */
    /* 다른 스타일도 추가할 수 있어요 */
}

.category-buttons{
    font-size: large !important;
    margin-top: 3em;
    width: 180px;
    line-height: 60px;
    text-align: center;
    border-radius: 2%;
    box-shadow: 0px 0px  5px black;
}

.category-buttons:hover {
    transform: scale(1.05); /* 마우스 호버 시 크기를 1.2배로 확대 */
}




















#btn_goToAdmin {
    position: fixed;
    bottom: 15%;
}

/* 호버 효과 */
#btn_goToAdmin:hover {
    background-color: rgba(255, 115, 0, 0.96);
}





#btn_logout {
    /* 기존 스타일 유지 */
    position: fixed;
    bottom: 6%;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 181, 69);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 80px; /* 텍스트를 버튼의 중앙에 정렬 */
}
#btn_login {
    /* 기존 스타일 유지 */
    position: fixed;
    bottom: 6%;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 181, 69);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 80px; /* 텍스트를 수직 중앙에 위치 */
    text-align: center;/* 텍스트를 버튼의 중앙에 정렬 */
}

/* 마우스 호버 시 색상 변경 */
#btn_login:hover,
#btn_logout:hover {
    background-color: rgba(255, 115, 0, 0.96);
}









#output{
    bottom: 50%;
}



#btn_myPage {
    position: fixed;
    bottom: 15%;
}

#btn_myPage:hover {
    background-color: rgba(255, 115, 0, 0.96);
}

/* 호스트 페이지 버튼 위치 조정 */
#btn_goToHost {
    position: fixed;
    bottom: 15%;
}

#btn_goToHost:hover {
    background-color: rgba(255, 115, 0, 0.96);
}

#circular-button {
    position: fixed;
    bottom: 20px; /* 하단 여백 조정 */
    width: 80px; /* 버튼 너비 */
    height: 80px; /* 버튼 높이 */
    border-radius: 50%; /* 원 모양으로 만들기 */
    background-color: rgb(255, 181, 69);
    color: white;
    text-align: center;
    line-height: 80px; /* 텍스트를 수직 중앙에 위치 */
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.3s ease;
    left: calc(50% - 40px); /* 중앙 정렬을 위한 위치 조정 */
}

/* 마우스 호버 시 색상 변경 */
#circular-button:hover {
    background-color: rgba(255, 115, 0, 0.96);
}









.circular-button {
    position: fixed;
    bottom: 6%; /* 아래 여백 조정 */
    left: 40px; /* 왼쪽 여백 조정 */
    width: 80px; /* 버튼 크기 */
    height: 80px; /* 버튼 크기 */
    border-radius: 50%; /* 원 모양으로 만들기 */
    background-color: #FFB545;
    color: white;
    text-align: center;
    line-height: 80px; /* 텍스트를 수직 중앙에 위치 */
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.circular-button:hover {
    background-color: rgba(255, 115, 0, 0.96);
}
















/*.room-search {*/
/*    margin: 20px 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    top: 1rem;*/

/*}*/

/*.room-search form {*/
/*    display: flex;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 20px;*/
/*    overflow: hidden;*/
/*    width: 40%;*/
/*}*/

/*.room-search input[type="text"] {*/
/*    padding: 10px;*/
/*    border: none;*/
/*    width: 85%;*/
/*    outline: none;*/

/*}*/

/*.room-search button {*/
/*    padding: 10px 20px;*/
/*    background-color: rgb(255, 181, 69);*/
/*    color: #fff;*/
/*    border: none;*/
/*    width: 15%;*/
/*    border-radius: 0 20px 20px 0;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.room-search button:hover {*/
/*    background-color: rgba(255, 115, 0, 0.96);*/
/*}*/

/*.room-search input[type="text"]::placeholder {*/
/*    color: #999;*/
/*    font-style: italic;*/
/*}*/




/* 검색 창 */

.container{
    justify-content: center;
    position: relative;~
    width: 50%;
}

.btn:hover{
    color:#fff;
}
.row_search{
    width: 75%;
}
.col_search{
    width: 100%;
}

.input-text:focus{
    box-shadow: 0px 0px 0px;
    border-color:#f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
}

#btn_search{
    background-color: rgb(255, 181, 69);
    color: #fff;
    width: 100px;
}

#btn_search:hover{
    background-color: rgba(255, 115, 0, 0.96); /* 마우스 호버 시 색상 변화 */
    color:#fff;
}

.btn, .form-control {
    border-radius: 20px; /* 더 둥글게 만들고 싶으면 값을 조절하세요 */
}

.containerSearch {
    top: 3em;
    display: flex;
}
.brandNew {
    max-width: initial;
    flex: initial;
}


























/* 카테고리 버튼 스타일 */
#categoryButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

#categoryButtons button {
    padding: 15px 30px; /* 크게 만들기 */
    color: #fff;
    border: none;
    border-radius: 30px; /* 조금 더 둥글게 */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; /* 버튼 너비 고정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    font-size: 16px; /* 폰트 크기 설정 */
    font-weight: bold; /* 글꼴 두껍게 */
}

#categoryButtons button:hover {
    background-color: rgba(255, 115, 0, 0.96); /* 마우스 호버 시 색상 변화 */
}

















