.business-item {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect */
.business-item:hover {
    background-color: #f0f0f0;
}

/* Header styles (adjust as needed) */
#businessList {
    margin-top: 20px;
}

/* Button styles */
#addBusinessButton {
    margin-top: 20px;
}

#addBusinessButton button {
    padding: 10px;
    background-color: #FF9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addBusinessButton button:hover {
    background-color: #FFB545;
}


