<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카테고리 변경</title>
    <link th:href="@{/css/header/header.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/admin/adminNav.css" th:href="@{/css/admin/adminNav.css}" />
    <!-- coloris 라이브러리 추가 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
</head>
<body>
<section>
    <div th:insert="~{/common/header :: headerFragment}"></div>
    <div class="nav" th:insert="~{/admin/adminNav :: nav}"></div>

  <h2>카테고리를 변경해주세요.</h2>
  <form action="/admin/setting/change" method="post">
    <input type="hidden" name="categoryNo" th:value="${categoryNo}"/>
    <p>카테고리 이름 : </p><input type="text" name="categoryName" th:placeholder="${categoryName}" th:value="${categoryName}"/>
    <p>카테고리 색상 : </p><input type="text" name="colorCode" th:placeholder="${colorCode}" th:value="${colorCode}" data-coloris/>
    <button type="submit">변경하기</button>
  </form>
</section>

</body>
</html>