<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카테고리 추가</title>
    <link th:href="@{/css/header/header.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/admin/adminNav.css" th:href="@{/css/admin/adminNav.css}" />
    <!-- coloris 라이브러리 추가 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
</head>
<body>
<div th:insert="~{/common/header :: headerFragment}"></div>
<div class="nav" th:insert="~{/admin/adminNav :: nav}"></div>

    <h3>추가할 카테고리의 정보를 입력해주세요.</h3>
    <form action="/admin/setting/newCategory" method="post">
        카테고리 이름 : <input type="text" name="categoryName"/><br>
        카테고리 색상 : <input type="text" name="colorCode" data-coloris/>
        <button type="submit">추가하기</button>
    </form>

    <th:block th:if="${message}">
        <script th:inline="javascript">
            window.onload =function (){
                let message = `[[${message}]]`;
                alert(message);
            }
        </script>
    </th:block>
</body>
</html>