<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>새로운 공간 옵션 추가</title>
    <link th:href="@{/css/header/header.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/admin/adminNav.css" th:href="@{/css/admin/adminNav.css}" />
</head>
<body>
<div th:insert="~{/common/header :: headerFragment}"></div>
<div th:insert="~{/admin/adminNav :: nav}"></div>

  <h1>새로운 옵션 추가</h1>
  <section>
    <form action="/admin/setting/addOption" method="post">
      <input type="text" name="optionName" placeholder="새로운 옵션을 추가해주세요..."/>
      <button type="submit">옵션 추가</button>
    </form>
  </section>
</body>
</html>