<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>업체 등록</title>
    <link rel="stylesheet" href="/css/roomRegister/view/hostMainView.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=13c9741586ee1ef04079d7c79c9ca27b&libraries=services"></script>
</head>
<body>
<div th:insert="~{common/header :: headerFragment}"></div>

<a href="/roomRegister/hostBusinessView">사업체 관리 페이지</a>
<br>
<!--<a href="/roomRegister/businessRegisterForm">업체 등록 하기</a>-->
<!--<br>-->
<!--<a href="/roomRegister/dayOffRegisterForm">휴무 등록 하기</a>-->
<!--<br>-->
<!--<a href="/roomRegister/roomRegisterForm">방 등록 하기</a>-->
<br><br><br>



다음 우편번호 코드
<form>
    <input type="text" id="sample4_postcode" placeholder="우편번호">
    <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
    <input type="text" id="sample4_roadAddress" placeholder="도로명주소">
    <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
    <span id="guide" style="color:#999;display:none"></span>
    <input type="text" id="sample4_detailAddress" placeholder="상세주소">
    <input type="text" id="sample4_extraAddress" placeholder="참고항목">
    <button>확인</button>
</form>



<!--<div id="map" style="width:100%;height:350px;"></div>-->


<!--<script>-->
<!--    var mapContainer = document.getElementById('map'), // 지도를 표시할 div-->
<!--        mapOption = {-->
<!--            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표-->
<!--            level: 3 // 지도의 확대 레벨-->
<!--        };-->

<!--    // 지도를 생성합니다-->
<!--    var map = new kakao.maps.Map(mapContainer, mapOption);-->

<!--    // 주소-좌표 변환 객체를 생성합니다-->
<!--    var geocoder = new kakao.maps.services.Geocoder();-->

<!--    // 주소로 좌표를 검색합니다-->
<!--    geocoder.addressSearch('제주특별자치도 제주시 첨단로 242', function(result, status) {-->

<!--        // 정상적으로 검색이 완료됐으면-->
<!--        if (status === kakao.maps.services.Status.OK) {-->

<!--            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);-->

<!--            // 결과값으로 받은 위치를 마커로 표시합니다-->
<!--            var marker = new kakao.maps.Marker({-->
<!--                map: map,-->
<!--                position: coords-->
<!--            });-->

<!--            // 인포윈도우로 장소에 대한 설명을 표시합니다-->
<!--            var infowindow = new kakao.maps.InfoWindow({-->
<!--                content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'-->
<!--            });-->
<!--            infowindow.open(map, marker);-->

<!--            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다-->
<!--            map.setCenter(coords);-->
<!--        }-->
<!--    });-->
<!--</script>-->



<div class="option">
    <div>
        <form onsubmit="searchPlaces(); return false;">
            키워드 : <input type="text" id="keyword" size="40">
            <button type="submit">검색하기</button>
        </form>
    </div>
</div>
<hr>

<div id="map" style="width:100%;height:500px;"></div>
<a href="#" id="clickLatlng">장소 저장</a>
<input id="x" type="hidden" value="37.5667701408774">
<input id="y" type="hidden" value="126.97864095520264">

<script>
    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    var marker = new kakao.maps.Marker({
        // 지도 중심좌표에 마커를 생성합니다
        position: map.getCenter()
    });
    // 지도에 마커를 표시합니다
    marker.setMap(map);

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    function searchPlaces() {

        var keyword = document.getElementById('keyword').value;

        // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
        ps.keywordSearch(keyword, placesSearchCB);
    }

    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i<data.length; i++) {
                // displayMarker(data[i]);
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }
    }

    kakao.maps.event.addEventListener(map, 'click', function(mouseEvent) {

        // 클릭한 위도, 경도 정보를 가져옵니다
        var latlng = mouseEvent.latLng;

        // 마커 위치를 클릭한 위치로 옮깁니다
        marker.setPosition(latlng);

        opener.document.getElementById('placeX').value = latlng.getLat();
        opener.document.getElementById('placeY').value = latlng.getLng();
    });

</script>





<!--카카오 지도-->
<!--<div id="map" style="width:100%;height:350px;"></div>-->




<!--카카오 자바스크립트-->
<!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=13c9741586ee1ef04079d7c79c9ca27b"></script>-->
<!--<script>-->
<!--    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스-->
<!--    var options = { //지도를 생성할 때 필요한 기본 옵션-->
<!--        center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.-->
<!--        level: 3 //지도의 레벨(확대, 축소 정도)-->
<!--    };-->

<!--    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴-->

<!--    // 주소-좌표 변환 객체를 생성합니다-->
<!--    var geocoder = new kakao.maps.services.Geocoder();-->

<!--    // 주소로 좌표를 검색합니다-->
<!--    geocoder.addressSearch('신한은행 구로역지점', function(result, status) {-->

<!--        // 정상적으로 검색이 완료됐으면-->
<!--        if (status === kakao.maps.services.Status.OK) {-->

<!--            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);-->

<!--            // 결과값으로 받은 위치를 마커로 표시합니다-->
<!--            var marker = new kakao.maps.Marker({-->
<!--                map: map,-->
<!--                position: coords-->
<!--            });-->

<!--            // 인포윈도우로 장소에 대한 설명을 표시합니다-->
<!--            var infowindow = new kakao.maps.InfoWindow({-->
<!--                content: '<div style="width:150px;text-align:center;padding:6px 0;">롯데월드</div>'-->
<!--            });-->
<!--            infowindow.open(map, marker);-->

<!--            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다-->
<!--            map.setCenter(coords);-->
<!--        }-->
<!--    });-->
<!--</script>-->

<!--<script>-->
<!--    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다-->
<!--    var infowindow = new kakao.maps.InfoWindow({zIndex:1});-->

<!--    var mapContainer = document.getElementById('map'), // 지도를 표시할 div-->
<!--        mapOption = {-->
<!--            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표-->
<!--            level: 3 // 지도의 확대 레벨-->
<!--        };-->

<!--    // 지도를 생성합니다-->
<!--    var map = new kakao.maps.Map(mapContainer, mapOption);-->

<!--    // 장소 검색 객체를 생성합니다-->
<!--    var ps = new kakao.maps.services.Places();-->

<!--    // 키워드로 장소를 검색합니다-->
<!--    ps.keywordSearch('이태원 맛집', placesSearchCB);-->

<!--    // 키워드 검색 완료 시 호출되는 콜백함수 입니다-->
<!--    function placesSearchCB (data, status, pagination) {-->
<!--        if (status === kakao.maps.services.Status.OK) {-->

<!--            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해-->
<!--            // LatLngBounds 객체에 좌표를 추가합니다-->
<!--            var bounds = new kakao.maps.LatLngBounds();-->

<!--            for (var i=0; i<data.length; i++) {-->
<!--                displayMarker(data[i]);-->
<!--                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));-->
<!--            }-->

<!--            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다-->
<!--            map.setBounds(bounds);-->
<!--        }-->
<!--    }-->

<!--    // 지도에 마커를 표시하는 함수입니다-->
<!--    function displayMarker(place) {-->

<!--        // 마커를 생성하고 지도에 표시합니다-->
<!--        var marker = new kakao.maps.Marker({-->
<!--            map: map,-->
<!--            position: new kakao.maps.LatLng(place.y, place.x)-->
<!--        });-->

<!--        // 마커에 클릭이벤트를 등록합니다-->
<!--        kakao.maps.event.addListener(marker, 'click', function() {-->
<!--            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다-->
<!--            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');-->
<!--            infowindow.open(map, marker);-->
<!--        });-->
<!--    }-->
<!--</script>-->



<!--다음 우편 자바스크립트-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>



<!--메세지 출력-->
<script th:inline="javascript">
    const message = [[${message}]]
    if (message){
        alert(message);
    }
</script>
</body>
</html>