<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>업체 등록</title>
    <link rel="stylesheet" href="/css/roomRegister/view/hostMainView.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	13c9741586ee1ef04079d7c79c9ca27b"></script>
</head>
<body>
<div th:insert="~{/common/header :: headerFragment}"></div>

<a href="/roomRegister/hostBusinessView">사업체 관리 페이지</a>
<br>
<!--<a href="/roomRegister/businessRegisterForm">업체 등록 하기</a>-->
<!--<br>-->
<!--<a href="/roomRegister/dayOffRegisterForm">휴무 등록 하기</a>-->
<!--<br>-->
<!--<a href="/roomRegister/roomRegisterForm">방 등록 하기</a>-->
<br><br><br>





<!--메세지 출력-->
<script th:inline="javascript">
    const message = [[${message}]]
    if (message){
        alert(message);
    }
</script>
</body>
</html>