<!DOCTYPE html>
<html>
<head><title>이미지 업로드</title></head>
<body>
<h1>이미지 업로드</h1>
<input id="fileInput" type="file">
<button onclick="uploadImage()">이미지 업로드</button>


<h1>이미지 출력</h1>
<input id="fileId" type="number">
<button onclick="downloadImage()">이미지 다운로드</button>
<img alt="다운로드된 이미지" id="downloadedImage" src="">


<script>

    let isSending = false;
    function uploadImage() {

        if (!isSending){

            isSending = true;

            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];
            const formData = new FormData();

            formData.append('file', file);


            fetch('/image/upload', {method: 'POST', body: formData}).then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('이미지 업로드 실패');
            }).then(imageNo => {
                if (parseInt(imageNo) > 0){
                    alert("이미지 등록 성공")
                }
            }).catch(error => {
                console.error('이미지 업로드 실패:', error);
            }).finally(()=>{isSending=false});

        }
        else {
            alert("이미지를 업로드하고 있습니다.")
        }


}

function downloadImage() {
    const fileId = document.getElementById('fileId').value;

    if (!isSending){

        isSending = true;

        fetch(`/image/download/${fileId}`, {method: 'GET'}).then(response => {
            if (response.ok) {

                return response.blob();
            }
            throw new Error('이미지 다운로드 실패');
        }).then(imageBlob => {
            alert("요청을 보냈습니다")
            console.log(imageBlob)
            const imageUrl = URL.createObjectURL(imageBlob);
            const downloadedImage = document.getElementById('downloadedImage');
            downloadedImage.src = imageUrl;
            alert("이미지 도착")
        }).catch(error => {
            console.error('이미지 다운로드 실패:', error);
        }).finally(()=>{isSending=false});
    }
    else {
        alert("다운로드중입니다")
    }
}
</script>
</body>
</html>