<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>

<script src="./test5.js"></script>
<link rel="stylesheet" href="./test5.css">
<div class="trends">
    <div class="bbb_background"></div>
    <div class="bbb_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="bbb_container">
                    <h2 class="bbb_title">Latest Products 2019</h2>
                    <div class="bbb_text">
                        <p>Find the latest products in 2019</p>
                    </div>
                    <div class="bbb_slider_nav">
                        <div class="bbb_prev bbb_nav"><i class="fas fa-angle-left ml-auto"></i></div>
                        <div class="bbb_next bbb_nav"><i class="fas fa-angle-right ml-auto"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="bbb_slider_container">
                    <div class="bbb_slider_nav">
                        <div class="bbb_prev bbb_nav"><i class="fas fa-angle-left ml-auto"></i></div>
                        <div class="bbb_next bbb_nav"><i class="fas fa-angle-right ml-auto"></i></div>
                    </div>
                    <div class="owl-carousel owl-theme bbb_slider">
                        <div class="owl-item">
                            <div class="bbb_item is_new">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/9XOqCSE.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">Smart Phones</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">Alcatel Mobile</a></div>
                                        <div class="bbb_price">₹13790</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="bbb_item">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/PIX2bzP.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">LED TV</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">MI LED</a></div>
                                        <div class="bbb_price">₹33790</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="bbb_item is_new">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/GEvakkz.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">Mobile Phones</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">MI Mobile</a></div>
                                        <div class="bbb_price">₹13079</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="bbb_item is_new">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/u94q4wq.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">Power Bank</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">MI Powerbank</a></div>
                                        <div class="bbb_price">₹2379</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="bbb_item">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/u94q4wq.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">Power Bank</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">HP Powerbank</a></div>
                                        <div class="bbb_price">₹3379</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="bbb_item is_new">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/f2rCLOO.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">Mobile Phones</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">Gionee phone</a></div>
                                        <div class="bbb_price">₹10379</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<div id="wrap">
    <div class="bbb_slider_nav">
        <div class="bbb_prev bbb_nav click1"><i class="fas fa-angle-left ml-auto"></i></div>
        <div class="bbb_next bbb_nav"><i class="fas fa-angle-right ml-auto"></i></div>
    </div>
    <h1>새로 등록됐어요</h1>
    <div class="list_wrapper">
        <div class="list">
            <img src="" alt="">
            <div class="list_text1">
                <h2>카페</h2>
                <p>1235</p>
                <span>12343215d</span>
            </div>
            <div class="list_text2">
                <h2>카페</h2>
                <p>1235</p>
                <span>12343215d</span>
            </div>
        </div>
        <div class="list">
            <img src="" alt="">
            <div class="list_text1">
                <h2>카페</h2>
                <p>1235</p>
                <span>12343215d</span>
            </div>
            <div class="list_text2">
                <h2>카페</h2>
                <p>1235</p>
                <span>12343215d</span>
            </div>
        </div>
        <div class="list">
            <img src="" alt="">
            <div class="list_text1">
                <h2>카페</h2>
                <p>1235</p>
                <span>12343215d</span>
            </div>
            <div class="list_text2">
                <h2>카페</h2>
                <p>1235</p>
                <span>12343215d</span>
            </div>
        </div>
        <div class="list">
            <img src="" alt="">
            <div class="list_text1">
                <h2>카페</h2>
                <p>1235</p>
                <span>12343215d</span>
            </div>
            <div class="list_text2">
                <h2>카페</h2>
                <p>1235</p>
                <span>12343215d</span>
            </div>
        </div>
        <div class="list">
            <img src="" alt="">
            <div class="list_text1">
                <h2>카페</h2>
                <p>1235</p>
                <span>12343215d</span>
            </div>
            <div class="list_text2">
                <h2>카페</h2>
                <p>1235</p>
                <span>12343215d</span>
            </div>
        </div>
    </div>
</div>













</body>
</html>