<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/test/test2.css">

</head>
<body>
<header th:replace="~{/common/header :: headerFragment}">
    <h1>나는 header</h1>
</header>

<!-- 모달 버튼 -->
<button id="modalBtn">모달 열기</button>

<!-- 모달 -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>모달 내용</p>
        <h1>dfdfdfdfddfdfwsdfsd</h1>

        <a href="/roomRegister/hostMainView" id="btn_hostMainView2" >호스트 페이지</a>
        <form th:action="@{/admin/adminPage}" >
            <button id="btn_adminPage2" >어드민페이지로 가기</button>
        </form>
    </div>
</div>






<script src="/js/test/test2.js"></script>
</body>
</html>