<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



    <!--연습용-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>

    <link rel="stylesheet" href="/css/test/test2.css">
    <script src="/js/test/test2.js"></script>



    <script th:inline="javascript">
        let latestRooms = [[${latestRooms}]]
    </script>
</head>
<body>
<div th:insert="~{/common/header :: headerFragment}"></div>
    <h1>나는 header</h1>



<div class="trends">
    <div class="bbb_background"></div>
    <div class="bbb_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="bbb_container">
                    <h2 class="bbb_title">Latest Rooms 2024</h2>
                    <div class="bbb_text">
                        <p>2024년 HOT 플레이스!!</p>
                    </div>
                    <div class="bbb_slider_nav">
                        <div class="bbb_prev bbb_nav"><i class="fas fa-angle-left ml-auto"></i></div>
                        <div class="bbb_next bbb_nav"><i class="fas fa-angle-right ml-auto"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="bbb_slider_container">
                    <div class="owl-carousel owl-theme bbb_slider">



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






</body>
</html>