<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자용 사업자 상세 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link th:href="@{/css/header/header.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/admin/sectionSearching.css" th:href="@{/css/admin/sectionSearching.css}" />
    <link rel="stylesheet" href="/css/admin/adminNav.css" th:href="@{/css/admin/adminNav.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminPages.css}"/>
</head>
<body>
<div th:insert="~{/common/header :: headerFragment}"></div>

<div class="nav" th:insert="~{/admin/adminNav :: nav}"></div>

    <section class="main-content">
        <h5 th:text="${business.categoryName}"></h5>
        <h1 th:text="${business.businessName}"></h1>

        <article>
            <h4>사업자 정보</h4>
            <p th:text="'사업자 등록 번호 : ' + ${business.registerNo}"></p>
            <p th:text="'사업자 닉네임 : ' + ${business.owner}"></p>
            <p th:text="'사업자 EMAIL : ' + ${business.email}"></p>
            <p th:text="'사업자 연락처 : ' + ${business.ownerPhone}"></p>
        </article>

        <article>
            <h4>업체 정보</h4>
            <p th:text="'우편번호 : ' + ${business.zipCode}"></p>
            <p th:text="'주소 : ' + ${business.address}"></p>
            <p th:text="'업체 연락처 : ' + ${business.businessPhone}"></p>
            <p th:text="'영업시간 : ' + ${business.startTime + ':00 ~ ' + business.endTime} + ':00'"></p>
        </article>

        <article>
            <p th:text="'최초 등록일 : ' + ${#calendars.format(business.businessRegisterDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
            <p th:text="'최종 정보 수정일 : ' + ${#calendars.format(business.businessUpdateDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
        </article>

        <article>
            <h4>정기 휴일</h4>
            <table>
                <tr th:each="day : ${closedDay}">
                    <td th:text="${day.closedDay}"></td>
                </tr>
            </table>
        </article>

        <h4>비정기 휴일</h4>
        <article th:each="holiday : ${holiday}" th:if="${holiday.activeStatus} eq 'active'">
            <p th:text="${holiday.holidayName}"></p>
            <p th:text="${#dates.format(holiday.startDate, 'yy-MM-dd') + ' ~ ' + #dates.format(holiday.endDate, 'yy-MM-dd')}"></p>
            <p th:text="${holiday.reason}"></p>
        </article>
    </section>

    <section class="main-content">
        <h3>방 정보</h3>
        <table>
            <tr>
                <th>방 이름</th>
                <th>한 줄 소개</th>
                <th>상세 소개</th>
                <th>사용가능 여부</th>
                <th>최소 인원</th>
                <th>최대 인원</th>
                <th>시설안내</th>
                <th>유의사항</th>
                <th>등록일</th>
                <th>수정일</th>
                <th>상태</th>
                <th>관리 기능</th>
            </tr>
            <tr th:each="room : ${room}">
                <td th:text="${room.roomName}"></td>
                <td th:text="${room.roomIntro}"></td>
                <td th:text="${room.roomDetail}"></td>
                <td th:text="${room.roomAvailableStatus}"></td>
                <td th:text="${room.roomMinPeople}"></td>
                <td th:text="${room.roomMaxPeople}"></td>
                <td th:text="${room.roomFacilityInfo}"></td>
                <td th:text="${room.roomNotice}"></td>
                <td th:text="${#calendars.format(room.roomRegistDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#calendars.format(room.roomUpdateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${room.roomStatus}"></td>
                <td>
                    <button type="button" id="deleteRoom" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" th:data1="${room.roomNo}" th:data2="${room.roomStatus}" onclick="getRoomInfo(this)" th:if="${room.roomStatus} eq 'active'">삭제</button>
                </td>
            </tr>
            <tr></tr>
        </table>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">정말로 방을 삭제하시겠습니까?</h1>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="getNo" name="RoomNo" value=""/>
                    <input type="hidden" id="getStatus" name="RoomStatus" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" id="submitRoomInfo" class="btn btn-primary" onclick="submitRoomInfo()" data-bs-dismiss="modal">삭제</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 모달 동작 js-->
    <script src="/js/admin/business/businessDetail/businessDetail.js"/>
    <!-- 부트스트랩 JS 및 Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>