button {
    background-color: orange;
    border-color: #ffb545;
    width: 10rem;
    height: 5.3rem;
}

#phone-finder {
    position: relative;
    top: 20rem;
    display: flex;
    justify-content: center;
}

#email-finder{
    position: relative;
    top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputUserEmail {
    margin: 0.5rem;
}