section {
    position: relative;
    top: 29rem;
    display: flex;
    justify-content: center;
}

form {
    margin: 1rem;
}

button {
    background-color: orange;
    border-color: #ffb545;
    width: 10rem;
    height: 3rem;
}

