    /* 스타일을 적용할 클래스 정의 */
.password-message {
    font-size: 0.8em; /* 글자 크기 조절 */
    margin-top: 5px; /* 위쪽 여백 추가 */
}

/* 중복 메시지에 대한 스타일 */
.password-message.duplicate {
    color: red; /* 빨간색 텍스트 */
}

/* 사용 가능 메시지에 대한 스타일 */
.password-message.available {
    color: green; /* 초록색 텍스트 */
}







section {
    text-align: center;
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.title {
    padding: 3rem;
    font-weight: bold;
}
label {
    font-weight: bold;
}

#email{
    padding: 1rem;
    height: 12rem;
    width: 20rem;
    text-align: left;
}

#checkEmail {
    font-size: large;
}

#inputUserEmail {
    width: 14rem;
    position: relative;
    left: 0.5rem;
}

#inputPassword {
    width: 20rem;
    text-align: left;
}

#password1{
    width: 14rem;
}

#checkPassword1 p {
    position: relative;
    left: -1rem;
}

#password2 {
    width: 14rem;
    position: relative;
    left: -1.05rem;
}

#nickname {
    text-align: left;
    width: 20rem;
    padding: 1rem;
}

#userNickname {
    width: 14rem;
}

#inputUserPhone{
    text-align: left;
    width: 20rem;
}
#phone2 {
    width: 5rem;
}

#phone3 {
    width: 5rem;
}

#register {
    background-color: orange;
    border-color: #ffb545;
    margin: 1rem;
    width: 20rem;
    height: 3rem;
}

button {
    background-color: orange;
    border-color: #ffb545;
    width: 10rem;
    height: 3rem;
}

body{
    background-color: #ffb545;
}

#btn_checkEmail, #sendAuthNumber, #confirmAuthNumberBtn {
    position: relative;
    left: 4.4rem;
}