.content {
    position: relative;
    top: 7rem;
    left: 20rem;
    background-color: white;
    width: 78rem;
    height: 46.5rem;
    border: solid orange 0.1rem;
}

.content h2 {
    background-color: orange;
    padding: 0.5rem;
    font-weight: bold;
}

.content p {
    padding: 0.5rem;
    height: 40rem;
}

.content button {
    position: relative;
    bottom: 1rem;
    left: 67rem;
    background-color: orange;
    color: white;
    border: orange;
    transition: 0.3s;
    border-radius: 0.3rem;
}

.content button:hover {
    background-color: orangered;
    border: orangered;
}