.footer {
    position: fixed;
    bottom: 0rem;
    background: yellowgreen;
    width: 100%;
    height: 3rem;
    text-align: center;
    padding: 1rem 2rem 1rem 1rem;
}

.footer p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}