.room-search {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.room-search form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
}

.room-search input[type="text"] {
    padding: 10px;
    border: none;
    width: 200px;
    outline: none;
}

.room-search button {
    padding: 10px 20px;
    background-color: rgb(255, 181, 69);
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.room-search button:hover {
    background-color: rgba(255, 115, 0, 0.96);
}

.room-search input[type="text"]::placeholder {
    color: #999;
    font-style: italic;
}



/* business-item 클래스에 적용되는 스타일 */
.room-item {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer; /* 클릭 가능한 커서 스타일 설정 */
    border-radius: 10px;
    background-color: white;
}

/* business-item 클래스에 마우스 호버 시 적용되는 스타일 */
.room-item:hover {
    background-color: #f0f0f0;
}

#rooms {
    position: relative;
    top: 3rem;
}











.more-results-button {
    position: fixed;
    bottom: 20px; /* 원하는 여백 값 */
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    background-color: #ffb545; /* 구글 크롬의 색상 */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    transition: background-color 0.3s ease;
}

.more-results-button:hover {
    background-color: rgba(255, 115, 0, 0.96); /* 호버 시 색상 변화 */
}