<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>업체 관리 페이지</title>
</head>
<body>

    <div th:insert="~{common/header :: headerFragment}"></div>

    <h1>업체 관리 페이지</h1>

    <div th:insert="~{admin/adminNav :: nav}"></div>

    <section>
        <h2>업체 현황</h2>

        <article>
            <form action="/admin/business/search" method="get">
                <select name="mode">
                    <option value="businessName">업체명</option>
                    <option value="category">카테고리</option>
                    <option value="RegistNo">사업자 번호</option>
                    <option value="email">사업자 이메일</option>
                    <option value="nickname">사업자 닉네임</option>
                    <option value="address">업체 주소</option>
                    <option value="phone">업체 연락처</option>
                    <option value="inactive">삭제 처리된 업체</option>
                </select>
                업체 정보 검색 : <input type="text" name="target"><button>검색</button>
            </form>
        </article>

        <article>
            <table>
                <tr>
                    <th>업체 번호</th>
                    <th>카테고리 분류</th>
                    <th>업체명</th>
                    <th>사업자 번호</th>
                    <th>사업자 이메일</th>
                    <th>사업자 닉네임</th>
                    <th>업체 우편번호</th>
                    <th>업체 주소</th>
                    <th>업체 연락처</th>
                    <th>업체 등록일</th>
                    <th>업체 정보 수정일</th>
                    <th>업체 삭제 사유</th>
                    <th>업체 상태</th>
                </tr>
                <tr th:each="business : ${BusinessList}" th:attr="data-url=@{/admin/business/{businessNo}(businessNo=${business.businessNo})}" onclick="navigateToBusinessDetail(this)">
                    <td th:text="${business.businessNo}"></td>
                    <td th:text="${business.categoryName}"></td>
                    <td th:text="${business.businessName}"></td>
                    <td th:text="${business.businessRegistNo}"></td>
                    <td th:text="${business.email}"></td>
                    <td th:text="${business.nickname}"></td>
                    <td th:text="${business.zipCode}"></td>
                    <td th:text="${business.address}"></td>
                    <td th:text="${business.phone}"></td>
                    <td th:text="${business.registDate}"></td>
                    <td th:text="${business.updateDate}"></td>
                    <td th:text="${business.reason}"></td>
                    <td th:text="${business.status}"></td>
                    <td>
                        <form id="deleteForm_${business.businessNo}" action="/admin/business/delete" method="post" th:if="${business.status eq 'active'}">
                            <input type="hidden" name="businessNo" th:value="${business.businessNo}"/>
                            <input type="hidden" name="status" th:value="${business.status}">
                            <button type="submit" onclick="deleteBusiness(Event,'deleteForm_${business.businessNo}')">업체 삭제</button>
                        </form>
                        <form id="restoreForm_${business.businessNo}" action="/admin/business/restore" method="post" th:if="${business.status eq 'inactive'}">
                            <input type="hidden" name="businessNo" th:value="${business.businessNo}"/>
                            <input type="hidden" name="status" th:value="${business.status}"/>
                            <input type="hidden" name="reason" th:value="${business.reason}">
                            <button type="submit" onclick="restoreBusiness(Event, 'restoreForm_${business.businessNo}')">업체 복구</button>
                        </form>
                    </td>
                </tr>
            </table>
        </article>
    </section>

    <th:block th:if="${message}">
        <script th:inline="javascript">
            window.onload =function (){
                let message = `[[${message}]]`;
                alert(message);
            }
        </script>
    </th:block>

<script>
    // 해당페이지로 이동하는 함수
    function navigateToBusinessDetail(element){
        let url = element.getAttribute('data-url');
        window.location.href=url;
    }

    function deleteBusiness(Event, formId){
        Event.stopPropagation();

        let form = document.getElementById(formId);
        form.submit();
    }

    function restoreBusiness(Event, formId){
        Event.stopPropagation();

        let form = document.getElementById(formId);
        form.submit();
    }

</script>
</body>
</html>