<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 관리 페이지</title>
</head>
<body>
  <header th:replace="~{/common/header :: headerFragment}"></header>

  <h1>관리자 회원 관리 페이지</h1>

  <nav th:replace="admin/adminnav :: nav"></nav>

  <section>
      <div>
        <form action="/admin/search" method="get">
            회원 정보 검색 : <input type="text" name="str"><button>검색</button>
        </form>
      </div>

      <div>
          <h2>검색 결과</h2>
          <table>
              <tr>
                  <th>회원 번호</th>
                  <th>회원 분류</th>
                  <th>이메일</th>
                  <th>닉네임</th>
                  <th>연락처</th>
                  <th>회원 가입일</th>
                  <th>회원 정보 수정일</th>
                  <th>회원 상태</th>
              </tr>
              <tr th:each="member : ${members}">
                  <td th:text="${member.userNo}"></td>
                  <td th:text="${member.auth}"></td>
                  <td th:text="${member.email}"></td>
                  <td th:text="${member.nickname}"></td>
                  <td th:text="${member.phone}"></td>
                  <td th:text="${member.userRegistDate}"></td>
                  <td th:text="${member.userUpdateDate}"></td>
                  <td th:text="${member.status}"></td>
                  <td><a href="admin/black">블랙리스트 추가</a></td>
                  <td>
                      <form action="/admin/withdraw" method="post">
                          <input type="hidden" name="email" th:value="${member.email}">
                          <button type="submit">탈퇴</button>
                      </form>
                  </td>
              </tr>
          </table>
      </div>
  </section>

  <!-- 탈퇴 버튼을 동작시켰을 때 그 결과를 대략적으로 경고창으로 출력하도록 설정하는 스크립트 -->
  <th:block th:if="${withdraw}">
      <script th:inline="javascript">
          window.onload =function (){
              let message = `[[${withdraw}]]`;
              alert(message);
          }
      </script>
  </th:block>

</body>
</html>