<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 설정</title>
</head>
<body>

<header th:replace="~{/common/header :: headerFragment}"></header>

    <h1>관리자 설정 페이지</h1>

<nav th:replace="admin/adminNav :: nav"></nav>

    <section>
        <h2>카테고리 관리</h2>
        <h3>현재 카테고리</h3>
        <article th:each="category: ${categorylist}">
            <p th:text="${category.categoryNo}"></p>
            <p th:text="${category.categoryName}"></p>
            <p th:text="${category.colorCode}"></p>

            <form action="/admin/setting/callChanger" method="post">
                <input type="hidden" name="categoryNo" th:value="${category.categoryNo}"/>
                <input type="hidden" name="categoryName" th:value="${category.categoryName}"/>
                <input type="hidden" name="colorCode" th:value="${category.colorCode}"/>
                <button type="submit">변경</button>
            </form>
            <form action="/admin/setting/off" method="post">
                <input type="hidden" name="categoryNo" th:value="${category.categoryNo}"/>
                <button type="submit">삭제</button>
            </form>
        </article>

        <article>
            <form action="/admin/setting/newCategory" method="post">
                <button type="button">카테고리 추가</button>
            </form>
        </article>
    </section>
</body>
</html>