<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 설정</title>
</head>
<body>

<header th:replace="~{/common/header :: headerFragment}"></header>

    <h1>관리자 설정 페이지</h1>

<nav th:replace="admin/adminNav :: nav"></nav>

    <section>
        <h2>카테고리 관리</h2>
        <h3>현재 카테고리</h3>
        <article th:each="category: ${categorylist}" th:style="'background-color: ' + ${category.colorCode} + '; width: 300px; height: 300;'">
            <p th:text="${category.categoryName}"></p>
            <p th:text="${category.colorCode}"></p>

            <form action="/admin/setting/callChanger" method="post">
                <input type="hidden" name="categoryNo" th:value="${category.categoryNo}"/>
                <input type="hidden" name="categoryName" th:value="${category.categoryName}"/>
                <input type="hidden" name="colorCode" th:value="${category.colorCode}"/>
                <button type="submit">변경</button>
            </form>
            <form action="/admin/setting/off" method="post" onsubmit="return confirm('정말로 이 카테고리를 삭제하시겠습니까?')">
                <input type="hidden" name="categoryNo" th:value="${category.categoryNo}"/>
                <button type="submit">삭제</button>
            </form>
        </article>

        <article>
            <form action="/admin/setting/toNewCategory" method="Get">
                <button type="submit">카테고리 추가</button>
            </form>
        </article>
    </section>

    <section>
        <h2>방 옵션 관리</h2>
        <h3>현재 방 옵션</h3>
        <article>
            <table>
                <tr>
                    <th>옵션명</th>
                    <th>기능</th>
                </tr>
                <tr th:each="option : ${optionList}">
                    <td th:text="${option.optionName}"></td>
                    <td>
                        <form action="/admin/setting/deleteOption" method="post">
                            <input type="hidden" name="optionName" th:value="${option.optionIdx}"/>
                            <button type="submit">삭제</button>
                        </form>
                    </td>
                </tr>
            </table>
        </article>
    </section>
    <th:block th:if="${message}">
        <script th:inline="javascript">
            window.onload =function (){
                let message = `[[${message}]]`;
                alert(message);
            }
        </script>
    </th:block>

</body>
</html>