<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 설정</title>
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

    <div th:insert="~{common/header :: headerFragment}"></div>

        <h1>관리자 설정 페이지</h1>

    <div th:include="~{admin/adminNav :: nav}"></div>

    <!-- 카테고리 관련 -->
    <section>
        <h2>카테고리 관리</h2>
        <h3>현재 카테고리</h3>
        <article th:each="category: ${categorylist}" th:style="'background-color: ' + ${category.colorCode} + '; width: 300px; height: 300;'">
            <p th:text="${category.categoryName}"></p>
            <p th:text="${category.colorCode}"></p>

            <form action="/admin/setting/callChanger" method="post">
                <input type="hidden" name="categoryNo" th:value="${category.categoryNo}"/>
                <input type="hidden" name="categoryName" th:value="${category.categoryName}"/>
                <input type="hidden" name="colorCode" th:value="${category.colorCode}"/>
                <button type="submit">변경</button>
            </form>
            <form action="/admin/setting/off" method="post" onsubmit="return confirm('정말로 이 카테고리를 삭제하시겠습니까?')">
                <input type="hidden" name="categoryNo" th:value="${category.categoryNo}"/>
                <button type="submit">삭제</button>
            </form>
        </article>

        <article>
            <form action="/admin/setting/toNewCategory" method="Get">
                <button type="submit">카테고리 추가</button>
            </form>
        </article>
    </section>

    <!-- 방 옵션 관련 -->
    <section>
        <h2>방 옵션 관리</h2>
        <h3>현재 방 옵션</h3>
        <article>
            <table>
                <tr>
                    <th>옵션명</th>
                    <th>기능</th>
                </tr>
                <tr th:each="option : ${optionList}">
                    <td th:text="${option.optionName}"></td>
                    <td>
                        <button type="button" id="giveNo" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" th:attr="data-option-idx=${option.optionIdx}" onclick="fn_giveNo(this)">
                            옵션명 변경
                        </button>
                    </td>
                </tr>
            </table>
        </article>
    </section>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">새로운 옵션명을 입력해주세요.</h1>
            </div>
            <div class="modal-body">
                <input type="hidden" id="getNo" name="optionNo" value=""/>
                <input type="text" id="getNewName" name="optionName" placeholder=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" id="submitOptionNo" class="btn btn-primary" onclick="submitOptionNo()" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>


    <th:block th:if="${message}">
        <script th:inline="javascript">
            window.onload =function (){
                let message = `[[${message}]]`;
                alert(message);
            }
        </script>
    </th:block>

<!-- 모달창 동작에 대한 js -->
<script src="/js/admin/setting/setting.js"/>

<!-- 부트스트랩 JS 및 Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>