<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>탈퇴 사유</title>
</head>
<link th:href="@{/css/header/header.css}" rel="stylesheet"/>
<link rel="stylesheet" href="/css/admin/adminNav.css" th:href="@{/css/admin/adminNav.css}" />
<body>
<div th:insert="~{/common/header :: headerFragment}"></div>
<div class="nav" th:insert="~{/admin/adminNav :: nav}"></div>

  <h3>탈퇴 사유를 작성해주세요</h3>
  <form action="/admin/withdraw" method="post">
    <input type="hidden" name="email" th:value="${email}">
      <input type="hidden" name="userNo" th:value="${userNo}">
      <p>사유 : </p><input type="text" name="reason"/>
      <button type="submit">탈퇴</button>
  </form>
</body>
</html>