body {
    height: 100%;
    position: relative;
    min-height: 100vh;
}

.nav{
    padding: 1rem;
    margin: 1rem -1rem -1rem;
    width: 12rem;
    background: #ffcc00;
    height: 100%;
    position: absolute;
}
nav {
    padding: 1rem;
    margin: 1rem -1rem -1rem;
    width: 12rem;
    background: #ffcc00;
    height: 100%;
    position: absolute;
}
.nav ul {
    list-style-type: none;
    overflow: auto;
    text-align: center;
    position: fixed;
    margin-top: 3rem;
    margin-left: -1.8rem;
}
.nav li {
    margin: 1rem;

}
.nav li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
    font-weight: bold;
}

.nav li a:hover {
    background: #333;
    color: #fff;
}

.nav li a.home {
    background : #333;
    color: #fff;
}

#logout-btn {
    position: fixed;
    bottom: 10rem; /* 하단 여백 설정 */
    width: 12rem;
    text-align: center;
    color: #fff;
    padding: 0rem;
    margin: -0.7rem;
}

#logout-btn-icon {
    height: 3rem;
    width: 10rem;
    font-size: large;
    font-weight: bold;
    font-family: auto;
    background-color: ghostwhite;
    transition: background-color 0.5s;
    border-radius: 1rem;
}

#logout-btn-icon:hover {
    background-color: orange;
    height: 3rem;
    width: 10rem;
    font-size: large;
    font-weight: bold;
    font-family: auto;
    text-emphasis-color: white;
}

