.main-content {
    position: relative;
    left: 14.5rem;
    top: 2rem;
    width: 80%;
}


.search {
    padding-top: 1rem;
    padding-left: 0.8rem;

}

.padding {
    padding-top: 1rem;
}

div.card-body {
    padding: 1rem;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    background-color: lightgray;
    width: 101rem;
}

.category-list article {
    margin: 0.7rem;
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.sub-content {
    margin-left: 14.5rem;
    margin-top: 4rem;
}

.option-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    width: 101rem;
}

.option {
    border: solid 0.2rem orange;
    text-align: center;
    font-weight: bolder;
    padding: 0.5rem;
    background-color: coral;
    margin: 2rem;
    border-radius: 10% 10% 20rem 20rem;
}

.option p {
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}

button#giveNo {
    background-color: limegreen;
    border: solid 0.1rem green;
    margin-top: -8rem;
}

form#deleteForm_\$\{business\.businessNo\} {
    width: max-content;
}

section button {
    background-color: orange;
    border: solid orange;
    margin: 0.2rem;
    color: white;
    border-radius: 0.5rem;
    transition: 0.5s;
    width: max-content;
}

section button:hover {
    background-color: darkorange;
    border: darkorange solid;
}

.add-button1 {
    position: relative;
    width: 18rem;
    height: 8rem;
}

.add-button2 {
    position: relative;
    width: 12rem;
    height: 5rem;
}

.main-content img {
    position: relative;
    left: 25rem;
    top: 5rem;
    width: 40rem;
}