<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{/common/header :: headerFragment}">
    <h1>나는 header</h1>
</header>


<table>

    <h1> 문의사항 </h1>

    <tr>
        <th>번호</th>
        <th>회원 닉네임</th>
        <th>문의사항 제목</th>
        <th>문의사항 등록일</th>
    </tr>
    <tr th:each="inquiry : ${inquirys}">
        <td th:text="${inquiry.inquiryNo}"></td>
        <td th:text="${inquiry.userNickname}"></td>
        <td>
            <a th:text="${inquiry.inquiryTitle}" th:href="@{/inquirys/searchInquiry(inquiryNo=${inquiry.inquiryNo})}"></a>
        </td>
        <td th:text="${inquiry.inquiryRegistDate}"></td>
    </tr>
</table>
<button onclick="location.href='/'">홈</button>
<button onclick="location.href='inquirys/insert_inquiry'">작성하기</button>
</body>
</html>