<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/common/header.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/common/footer.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/inquiry/inquiryAll.css}"/>
</head>
<body>
<div th:insert="~{/common/header :: headerFragment}"></div>


<section class="inquiry-table">
    <h1> 문의사항 </h1>

    <table>

        <tr>
            <th>번호</th>
            <th>회원 닉네임</th>
            <th>문의사항 제목</th>
            <th>문의사항 등록일</th>
        </tr>
        <tr th:each="inquiry : ${inquirys}">
            <td th:text="${inquiry.inquiryNo}"></td>
            <td th:text="${inquiry.userNickname}"></td>
            <td>
                <a th:text="${inquiry.inquiryTitle}" th:href="@{/inquirys/searchInquiry(inquiryNo=${inquiry.inquiryNo})}"></a>
            </td>
            <td th:text="${inquiry.inquiryRegistDate}"></td>
        </tr>
    </table>

    <button onclick="location.href='inquirys/insert_inquiry'">작성하기</button>

</section>


<div class="footer" th:insert="~{/common/footer :: footerFragment}"></div>

</body>
</html>