<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/inquirys/updateInquiry}" th:object="${inquiryDTO}" method="post">

    <input type="hidden" th:field="*{inquiryNo}" />
    <label for="inquiryTitle">제목:</label>
    <input type="text" id="inquiryTitle" name="inquiryTitle" th:field="*{inquiryTitle}" required>

    <label for="inquiryContents">내용:</label>
    <textarea id="inquiryContents" name="inquiryContents" th:field="*{inquiryContents}" required></textarea>

    <button type="submit">수정하기</button>
</form>


</body>
</html>