<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form th:action="@{/inquiries/updateInquiry/}"" th:object="${inquiryDTO}" method="post">-->
<!--    <label for="inquiryTitle">Inquiry Title:</label>-->
<!--    <input type="text" id="inquiryTitle" name="inquiryTitle" th:field="*{inquiryTitle}" required>-->

<!--    <label for="inquiryContents">Inquiry Contents:</label>-->
<!--    <textarea id="inquiryContents" name="inquiryContents" th:field="*{inquiryContents}" required></textarea>-->

<!--    <button type="submit">Update Inquiry</button>-->
<!--</form>-->

<form action="/inquirys/updateInquiry" method="post">
    제목: <input type="text" name="inquiryTitle" />
    내용: <input type="text" name="inquiryContents" />
    <button type="submit">입력</button>
</form>

</body>
</html>