<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>

    <script defer th:src="@{/js/main.js}"></script>

    <script th:inline="javascript">
        let userAuth = [[${userAuth}]]
        let userNickname = [[${userNickname}]]
        let categories = [[${categories}]]
        let latestRooms = [[${latestRooms}]]
    </script>
    <link rel="stylesheet" href="/css/main.css">
    <link th:href="@{/css/common/header.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/common/footer.css}"/>
</head>
<body>


    <div id="header" th:insert="~{/common/header :: headerFragment}"></div>



    <div class="container justify-content-center containerSearch">

        <div class="row row_search " >

            <div class="col-md-8 col_search brandNew">

                <form action="/search/keyword" method="GET" class="input-group mb-3">
                    <input type="text" class="form-control input-text" name="keyword" placeholder="Search rooms...." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-warning btn-lg" id="btn_search" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div id="categoryButtons"></div>



    <!--최신 방 보여주는 공간-->
    <div class="trends">
        <div class="bbb_background"></div>
        <div class="bbb_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="bbb_container">
                        <h2 class="bbb_title">Latest Rooms 2024</h2>
                        <div class="bbb_text">
                            <p>최신 등록한 방들을 둘러보세요!</p>
                        </div>
                        <div class="bbb_slider_nav">
                            <div class="bbb_prev bbb_nav"><i class="fas fa-angle-left ml-auto"></i></div>
                            <div class="bbb_next bbb_nav"><i class="fas fa-angle-right ml-auto"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="bbb_slider_container">
                        <div class="owl-carousel owl-theme bbb_slider">



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--로그인 버튼-->
    <div class="button" id="btn_login" style="display: none">로그인</div>

    <form th:action="@{/security/auth/logout}" th:method="post">
        <button id="btn_logout" style="display: block">로그아웃</button>
    </form>

    <form th:action="@{/signup/signupMethod}" th:method="get">
        <button id="btn_signup" style="display: none">회원가입</button>
    </form>
    <!--어드민 페이지로 가는 버튼-->
    <div class="circular-button" id="btn_goToAdmin" style="display: none">ADMIN</div>

    <!-- 호스트 페이지 버튼 -->
    <div id="btn_goToHost" class="circular-button" style="display: none">HOST</div>

    <!--문의사항-->
    <button onclick="location.href='inquirys'" class="circular-button">문의사항</button>


    <div sec:authorize="hasAnyAuthority('GUEST')">
        <button onclick="location.href='myPage/search'"  id="btn_myPage" class="circular-button" >MyPage</button>
    </div>











   <!-- <p id="output"></p>-->

    <div class="footer" th:insert="~{/common/footer :: footerFragment}"></div>
</body>
</html>
