<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <script defer th:src="@{/js/main.js}"></script>
</head>
<body>

    <header th:replace="~{/common/header :: headerFragment}">
        <h1>나는 header</h1>
    </header>

    <form th:action="@{/admin/adminPage}" >
        <button id="btn_adminPage" style="display: none">어드민페이지로 가기</button>
    </form>

    <!--    호스트페이지-->
    <a href="/roomRegister/hostMainView" id="btn_hostMainView" style="display: none">호스트 페이지</a>


    <a href="/security/auth/login" id="btn_login" style="display: block">로그인하기</a>
    <form th:action="@{/security/auth/logout}" th:method="post">
        <button id="btn_logout" style="display: block">로그아웃</button>
    </form>

    <script th:inline="javascript">
        if ([[${message}]]){
            alert([[${message}]]);
        }
    </script>

<!--    로그인 버튼 관련 JS-->
    <p id="output"></p>

    <script th:inline="javascript">
        let userAuth = [[${userAuth}]]
        let userNickname = [[${userNickname}]]
    </script>

</body>
</html>















<!--    <h1> 유저 리스트 </h1>-->
<!--    <button onclick="location.href='inquirys'">조회</button>-->

<!--    <form th:action="@{/auth/logout}" th:method="post">-->
<!--        <button>로그아웃</button>-->
<!--    </form>-->