<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>

    <header th:replace="~{/common/header :: headerFragment}">
        <h1>나는 header</h1>
    </header>

    <h3>로그인 기능</h3>
    <a href="/security/auth/login">로그인하기</a>
    <a href="/security/auth/signup">회원가입</a>


<!--    <form th:action="@{/auth/logout}" th:method="post">-->
<!--        <button>로그아웃</button>-->
<!--    </form>-->


</body>
</html>