<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
    <script th:inline="javascript">
        let rooms = [[${rooms}]]
    </script>
    <link th:href="@{/css/common/header.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/common/footer.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/reservation/view/searchResultView.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div th:insert="~{/common/header :: headerFragment}"></div>

<div class="container justify-content-center containerSearch">

    <div class="row row_search " >

        <div class="col-md-8 col_search brandNew">

            <form action="/search/keyword" method="GET" class="input-group mb-3">
                <input type="text" class="form-control input-text" name="keyword" placeholder="Search rooms...." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-warning btn-lg" id="btn_search" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>

</div>


<div id="rooms">
    <!-- 여기에 결과가 표시될 부분 -->
</div>

<div class="footer" th:insert="~{/common/footer :: footerFragment}"></div>

<script src="/js/reservation/view/searchResultView.js"></script>
</body>
</html>