.main-contents {
    margin-left: 14.5rem;
    margin-top: 2rem;
}

/* 기본 스타일 초기화 */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* 전체 페이지에 기본 배경 색상 및 글꼴 스타일 적용 */
body {
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}


section {
    max-width: 600px;
    margin: 1rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

section:hover {
    transform: scale(1.05);
}

section img {
    max-width: 100%; /* 이미지를 부모 요소의 너비에 맞추기 */
    height: auto;    /* 가로 세로 비율 유지 */
    display: block;  /* 인라인 요소로부터 블록 요소로 변환 */
    margin: 0 auto;  /* 가운데 정렬을 위한 왼쪽 및 오른쪽 마진 자동 설정 */
}

h1 {
    color: #333;
}


article {
    margin-bottom: 15px;
}


button {
    background-color: #FF9900;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #FFB545;
}


input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* 스크립트로 생성된 알림에 일부 간격 적용 */
/*th\\:block {*/
/*    margin-top: 10px;*/
/*}*/

/* 스크립트로 생성된 알림 스타일링 */
.alert {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

/* 스크립트로 생성된 알림 내의 폼 버튼 스타일링 */
.alert button {
    margin-top: 5px;
}

#userInfo {
    display: flex;
    justify-content: center;
    position: relative;
    top: 6rem;
    width: 70rem;
    left: 28rem;
}

#mainInfo {
    text-align: center;
    background-color: orange;
    border-radius: 0.5rem;
    height: 6rem;
}

#memberNickname {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

#user2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: moccasin;
}

article {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}

#user2 button {
    width: -webkit-fill-available;
}