h1 {
    text-align: center;
    margin-top: 20px;
}

section {
    max-width: 800px;
    margin: 60px auto; /* 네비게이션 바 높이만큼 여백 추가 */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* 예약 목록 섹션 내의 항목 스타일링 */
.reservation-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.reservation-details {
    flex: 1;
}

.reservation-details div {
    margin-bottom: 8px;
}

.reservation-details strong {
    font-weight: bold;
}

.reservation-action {
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
    border: none;
    background: #FF9900;
    color: #fff;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: #FFB545;
}

/* 전체 페이지에 기본 배경 색상 및 글꼴 스타일 적용 */
body {
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}